<div class="block block-subscribe">
  <div class="block-title">
    <strong><span>Phản hồi</span></strong>
  </div>
  <form action="#" method="post" id="guest_feedback">
    <div class="block-content">
      <div class="input-box">
       <input  type="email" spellcheck="false" name="email" id="newsletter" class="input-text required-entry validate-email" placeholder="Email của bạn..." required="true" />
     </div>
     <div class="input-box">
         <textarea name="" id=""  rows="4" placeholder="Nội dung góp ý ..." required style="max-width: 575px;" ></textarea>
     </div>
     <div class="actions" style="margin-top: 5px; width: 50%">
      <button type="submit" title="Subscribe" class="button" id="guest_feedback_button"><span><span>Gửi</span></span></button>
    </div>
   </div>
  </form>
</div>
