<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer">
          <div class="row">
            <div class="col-sm-4">
              <div class="block block-facebook-page">
        <div>
          <div class="fb-page" data-href="https://www.facebook.com/TemplateMonster "
          data-hide-cover="false"
          data-show-facepile="true"
          data-show-posts="false">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a>
            </blockquote>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-7 col-sm-offset-1">
    <div class="block block-subscribe">
      <div class="block-title">
        <strong><span>Newsletter</span></strong>
      </div>
      <form action="https://livedemo00.template-help.com/magento_57714/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
        <div class="block-content">
          <div class="form-subscribe-header">
            <label for="newsletter">Sign Up for Our Newsletter:</label>
          </div>
          <div class="input-box">
           <input  type="email" spellcheck="false" name="email" id="newsletter" title="Sign up for our newsletter" class="input-text required-entry validate-email" placeholder="Enter your email" />
         </div>
         <div class="actions">
          <button type="submit" title="Subscribe" class="button"><span><span>Submit</span></span></button>
        </div>
      </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
    var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    document.getElementById("newsletter").setAttribute('autocapitalize', 'off');
    document.getElementById("newsletter").setAttribute('autocorrect', 'off');
    //]]>
  </script>
</div>
<div class="footer-cols-wrapper">
  <div class="footer-col">
    <h4>Information</h4>
    <div class="footer-col-content">
      <ul>
        <li><a href="https://livedemo00.template-help.com/magento_57714/about">About Us</a></li>
        <li><a href="https://livedemo00.template-help.com/magento_57714/customer-service">Customer Service</a></li>
        <li><a href="https://livedemo00.template-help.com/magento_57714/template-settings">Template Settings</a></li>
        <li class="last privacy"><a href="https://livedemo00.template-help.com/magento_57714/privacy-policy-cookie-restriction-mode">Privacy Policy</a></li>
      </ul>
      <div class="links">
        <ul>
          <li class="first" ><a href="https://livedemo00.template-help.com/magento_57714/catalog/seo_sitemap/category/" title="Site Map" >Site Map</a></li>
          <li ><a href="https://livedemo00.template-help.com/magento_57714/catalogsearch/term/popular/" title="Search Terms" >Search Terms</a></li>
          <li ><a href="https://livedemo00.template-help.com/magento_57714/catalogsearch/advanced/" title="Advanced Search" >Advanced Search</a></li>
          <li ><a href="https://livedemo00.template-help.com/magento_57714/sales/guest/form/" title="Orders and Returns" >Orders and Returns</a></li>
          <li class=" last" ><a href="https://livedemo00.template-help.com/magento_57714/contacts/" title="Contact Us" >Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-col">
   <h4>Why buy from us</h4>
   <div class="footer-col-content">
     <ul>
       <li><a href="#">Shipping & Returns</a></li>
       <li><a href="#">Secure Shopping</a></li>
       <li><a href="#">International Shipping</a></li>
       <li><a href="#">Affiliates</a></li>
       <li><a href="#">Group Sales</a></li>
     </ul>
   </div>
 </div>
 <div class="footer-col">
  <h4>My account</h4>
  <div class="footer-col-content">
   <ul>
     <li><a href="https://livedemo00.template-help.com/magento_57714/customer/account/login/">Sign In</a></li>
     <li><a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/">View Cart</a></li>
     <li><a href="https://livedemo00.template-help.com/magento_57714/wishlist/">My Wishlist</a></li>
     <li><a href="#">Track My Order</a></li>
     <li><a href="#">Help</a></li>
   </ul>
 </div>
</div>
<div class="clear"></div>
</div>
</div>
</div>
<p id="back-top"><a href="#top"><span></span></a> </p>
<div class="clear"></div>
</div>
</div>
</div>
</div>
<address>
  <div class="container text-center">
    &copy; <script type="text/javascript">var mdate = new Date(); document.write(mdate.getFullYear());</script> Trung Manucian. All Rights Reserved.</div>
  </address>
</div>

</div>
</div>



<div id="fb-root"></div>

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=734741803247761";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  if(jQuery) {
    (function (jQuery) {
      var o = jQuery('.fb-page');

      jQuery(window).load(function () {
        o.css({'display': 'block'})
        .find('span').css({
          'width': '100%',
          'display': 'block',
          'text-align': 'inherit'
        })
        .find('iframe').css({
          'display': 'inline-block',
          'position': 'static'
        });
      });

      jQuery(window).on('load resize', function () {
        if (o.parent().width() < o.find('iframe').width()) {
          o.find('iframe').css({
            'transform': 'scale(' + (o.width() / o.find('iframe').width()) + ')',
            'transform-origin': '0% 0%'
          })
          .parent().css({
            'height': (o.find('iframe').height() * (o.width() / o.find('iframe').width())) + 'px'
          });
        } else {
          o
          .find('span').css({
            'height': 'auto'
          })
          .find('iframe').css({
            'transform': 'none'
          });
        }
      });
    })(jQuery);
  }

</script>

