<title><%= yield :head_title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Thác nước phong thủy</title>
<meta http-equiv="Cache-Control" content="max-age=3600" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="description" content="Thác nước phong thủy, tinh dầu ..." />
<meta name="keywords" content="Thác nước, tinh dầu, ..." />
<meta name="robots" content="INDEX,FOLLOW" />
<meta name="format-detection" content="telephone=no">
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700itali&amp;subset=latin,cyrillic" />
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<script type="text/javascript">//<![CDATA[
  var Translator = new Translate([]);
  //]]>
</script>
