 <div class="main-menu">
  <div class="container">
    <div id="header-nav" class="skip-content nav-content">
      <div class="nav-container-mobile">
        <div class="sf-menu-block">
          <ul class="sf-menu-phone">
            <li  class="level0 nav-1 first parent">
              <a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes.html" class="level0 has-children">e-cigarettes</a>
              <ul class="level0">
                <li  class="level1 nav-1-1 first"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rocket.html" class="level1 "> rocket</a></li>
                <li  class="level1 nav-1-2"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/mini-mod.html" class="level1 ">mini MOD</a></li>
                <li  class="level1 nav-1-3"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/platinum-pro.html" class="level1 ">platinum pro</a></li>
                <li  class="level1 nav-1-4"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/cartomizers.html" class="level1 "> Cartomizers</a></li>
                <li  class="level1 nav-1-5"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/clearomizers.html" class="level1 "> Clearomizers </a></li>
                <li  class="level1 nav-1-6"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/tanks.html" class="level1 "> Tanks</a></li>
                <li  class="level1 nav-1-7"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/glassomizers.html" class="level1 "> Glassomizers</a></li>
                <li  class="level1 nav-1-8"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/sub-ohm-tanks.html" class="level1 "> Sub-Ohm Tanks</a></li>
                <li  class="level1 nav-1-9 last parent"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable.html" class="level1 has-children"> Rebuildable</a>
                  <ul class="level1">
                    <li  class="level2 nav-1-9-1 first"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable/authentic.html" class="level2 ">Generic</a></li>
                    <li  class="level2 nav-1-9-2 last"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable/authentic-2.html" class="level2 ">Authentic</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li  class="level0 nav-2"><a href="https://livedemo00.template-help.com/magento_57714/accessories.html" class="level0 ">accessories </a></li>
            <li  class="level0 nav-3"><a href="https://livedemo00.template-help.com/magento_57714/atomizers-cartomizers.html" class="level0 ">atomizers &amp; cartomizers</a></li>
            <li  class="level0 nav-4 last"><a href="https://livedemo00.template-help.com/magento_57714/premium-kits.html" class="level0 ">premium Kits</a></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>

      <div class="nav-container">
        <div class="nav">
          <ul id="nav" class="grid-full">
            <li  class="level nav-1 first parent  no-level-thumbnail ">
              <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes.html">
                <div class="thumbnail"></div>
                <span style="color:;">e-cigarettes</span><span class="spanchildren"></span>
              </a>
              <div class="level-top">
                <div class="level  column2" style="width:930px;">
                  <ul class="level1 menu-product menu-product-one" style="width:608px;">
                    <li class="level2 levelproducttow fast" style="width:50%;">
                      <a href="https://livedemo00.template-help.com/magento_57714/vaporfi-orbit-dry-herb-vaporizer-kit.html" title="VaporFi Orbit Dry Herb Vaporizer Kit">
                        <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/v/a/vaporfi-orbit-dry-herb-vaporizer-kit_03.png" alt="VaporFi Orbit Dry Herb Vaporizer Kit" title="VaporFi Orbit Dry Herb Vaporizer Kit"/>
                      </a>
                      <a href="https://livedemo00.template-help.com/magento_57714/vaporfi-orbit-dry-herb-vaporizer-kit.html" title="VaporFi Orbit Dry Herb Vaporizer Kit"> <span class="product-name">VaporFi Orbit Dry Herb Vaporizer Kit</span>
                      </a>
                      <div class="rating-box">
                        <div class="rating" style="width:60%;"></div>
                      </div>
                      <div class="price-box">
                        <span class="regular-price" id="product-price-8">
                          <span class="price">$26.00</span>
                        </span>
                      </div>

                      <a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/8/form_key/b1X20vpkaIpFP25S/"><button class="button btn-cart btn-featurecart btn-carthover2" onclick="productAddToCartForm.submit(this)"><span><span>Add to Cart</span></span></button></a><ul class="add-to-links"><li><a href="https://livedemo00.template-help.com/magento_57714/wishlist/index/add/product/8/form_key/b1X20vpkaIpFP25S/" class="link-wishlist">Add Wishlist</a></li><li><a href="" class="link-compare">Add Compare</a></li></ul></li></ul>
                      <ul class=" level menu-content"><li><div class="static-block-left" style="width:330px; float: left; margin-top: 5px; margin-right: 10px;"><div class="menu-block">
                        <h2>About Atomizers</h2>
                        <p>This product will spark your imagination. Even more, it will turn your life into adventure. Find the package you are sure to love, and look for matching comforter sets to give you the ultimate imagination-sparking room.</p>
                      </div></div>

                      <ul class="catagory_children"><li class="li-wrapper"><div  class="level1 nav-1-1 first item  no-level-thumbnail " style="width:50%;">
                        <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rocket.html">
                          <div class="thumbnail"></div>
                          <span style="color:;  "> rocket</span>
                        </a>

                        <div class="level-top">
                          <div class="level1  column1">

                            <ul class="d level1">

                            </ul>
                          </div>
                        </div>
                      </div><div  class="level1 nav-1-2 item  no-level-thumbnail " style="width:50%;">
                        <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/mini-mod.html">
                          <div class="thumbnail"></div>
                          <span style="color:;  ">mini MOD</span>
                        </a>

                        <div class="level-top">
                          <div class="level1  column1">

                            <ul class="d level1">

                            </ul>
                          </div>
                        </div>
                      </div><div  class="level1 nav-1-3 item  no-level-thumbnail " style="width:50%;">
                        <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/platinum-pro.html">
                          <div class="thumbnail"></div>
                          <span style="color:;  ">platinum pro</span>
                        </a>

                        <div class="level-top">
                          <div class="level1  column1">

                            <ul class="d level1">

                            </ul>
                          </div>
                        </div>
                      </div><div  class="level1 nav-1-4 item  no-level-thumbnail " style="width:50%;">
                        <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/cartomizers.html">
                          <div class="thumbnail"></div>
                          <span style="color:;  "> Cartomizers</span>
                        </a>

                        <div class="level-top">
                          <div class="level1  column1">

                            <ul class="d level1">

                            </ul>
                          </div>
                        </div>
                      </div><div  class="level1 nav-1-5 item  no-level-thumbnail " style="width:50%;">
                        <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/clearomizers.html">
                          <div class="thumbnail"></div>
                          <span style="color:;  "> Clearomizers </span>
                        </a>

                        <div class="level-top">
                          <div class="level1  column1">

                            <ul class="d level1">

                            </ul>
                          </div>
                        </div>
                      </div><div  class="level1 nav-1-6 item  no-level-thumbnail " style="width:50%;">
                        <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/tanks.html">
                          <div class="thumbnail"></div>
                          <span style="color:;  "> Tanks</span>
                        </a>

                        <div class="level-top">
                          <div class="level1  column1">

                            <ul class="d level1">

                            </ul>
                          </div>
                        </div>
                      </div><div  class="level1 nav-1-7 item  no-level-thumbnail " style="width:50%;">
                        <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/glassomizers.html">
                          <div class="thumbnail"></div>
                          <span style="color:;  "> Glassomizers</span>
                        </a>

                        <div class="level-top">
                          <div class="level1  column1">

                            <ul class="d level1">

                            </ul>
                          </div>
                        </div>
                      </div><div  class="level1 nav-1-8 item  no-level-thumbnail " style="width:50%;">
                        <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/sub-ohm-tanks.html">
                          <div class="thumbnail"></div>
                          <span style="color:;  "> Sub-Ohm Tanks</span>
                        </a>

                        <div class="level-top">
                          <div class="level1  column1">

                            <ul class="d level1">

                            </ul>
                          </div>
                        </div>
                      </div><div  class="level1 nav-1-9 last parent item  no-level-thumbnail " style="width:50%;">
                        <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable.html">
                          <div class="thumbnail"></div>
                          <span style="color:;"> Rebuildable</span><span class="spanchildren"></span>
                        </a>

                        <div class="level-top">
                          <div class="level1  column1">

                            <ul class="d level1">
                              <li class="catagory_children  column1"><div  class="level2 nav-1-9-1 first  no-level-thumbnail ">
                                <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable/authentic.html">
                                  <div class="thumbnail"></div>
                                  <span style="color:;  ">Generic</span>
                                </a>
                                <div class="level-top">
                                  <div class="level2  column1">

                                    <ul class="d level2">

                                    </ul>
                                  </div>
                                </div>
                              </div><div  class="level2 nav-1-9-2 last  no-level-thumbnail ">
                                <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable/authentic-2.html">
                                  <div class="thumbnail"></div>
                                  <span style="color:;  ">Authentic</span>
                                </a>
                                <div class="level-top">
                                  <div class="level2  column1">

                                    <ul class="d level2">

                                    </ul>
                                  </div>
                                </div>
                              </div></li>

                            </ul>
                          </div>
                        </div>
                      </div></li></ul>
                    </li></ul>
                  </div>
                </div>
              </li><li  class="level nav-2  no-level-thumbnail ">
                <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/accessories.html">
                  <div class="thumbnail"></div>
                  <span style="color:;  ">accessories </span>
                </a>
                <div class="level-top">
                  <div class="level  column1" style="width:930px;">

                    <ul class=" level"><li>

                    </li></ul>
                  </div>
                </div>
              </li><li  class="level nav-3  no-level-thumbnail ">
                <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/atomizers-cartomizers.html">
                  <div class="thumbnail"></div>
                  <span style="color:;  ">atomizers &amp; cartomizers</span>
                </a>
                <div class="level-top">
                  <div class="level  column1" style="width:930px;">

                    <ul class=" level"><li>

                    </li></ul>
                  </div>
                </div>
              </li><li  class="level nav-4 last  no-level-thumbnail ">
                <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/premium-kits.html">
                  <div class="thumbnail"></div>
                  <span style="color:;  ">premium Kits</span>
                </a>
                <div class="level-top">
                  <div class="level  column1" style="width:930px;">

                    <ul class=" level"><li>

                    </li></ul>
                  </div>
                </div>
              </li>
              <li></li>
            </ul>
          </div> <!-- end: nav -->
        </div> <!-- end: nav-container -->
      </div>
    </div>
  </div>
