 <div class="widget widget-new-products sidebar" style="margin-top: 9%">
  <div class="widget-title center">
    <h1>Tinh dầu</h1>
  </div>
  <div class="widget-products">
    <ul class="products-grid row oil-slider" id='oil-slider'>
      <li class="item  first col-xs-12 col-sm-4" itemscope itemtype="https://schema.org/product">
        <div class="wrapper-hover">
          <div class="product-image-container">

            <a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" title="Dragon Knight Mechanical Electronic " class="product-image" itemprop="url">
              <img id="product-collection-image-2" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/228x228/9df78eab33525d08d6e5fb8d27136e95/d/r/dragon-knight-mechanical-electronic_6_.png" alt="Dragon Knight Mechanical Electronic " width="228" height="228" itemprop="image" />
            </a>

          </div>

          <div class="product-details">


            <h2 class="product-name" itemprop="name"><a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" title="Dragon Knight Mechanical Electronic ">Dragon Knight Mechanical Electronic </a></h2>



            <div class="price-box">

              <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-2">
                $15.00                </span>
              </p>

              <p class="special-price">
                <span class="price-label">Special Price</span>
                <span class="price" id="product-price-2">
                $13.00                </span>
              </p>


            </div>


            <div class="wrapper-hover-hiden">
              <div class="actions">
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html')"><span><span>Add to Cart</span></span></button>
              </div>
            </div>
          </div>
          <div class="label-product">
          </div>
        </div>
      </li>
      <li class="item  col-xs-12 col-sm-4" itemscope itemtype="https://schema.org/product">
        <div class="wrapper-hover">
          <div class="product-image-container">

            <a href="https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html" title="On The Go Starter Kit Menthol " class="product-image" itemprop="url">
              <img id="product-collection-image-6" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/228x228/9df78eab33525d08d6e5fb8d27136e95/o/n/on-the-go-starter-kit-menthol-_high__06.png" alt="On The Go Starter Kit Menthol " width="228" height="228" itemprop="image" />
            </a>

          </div>

          <div class="product-details">


            <h2 class="product-name" itemprop="name"><a href="https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html" title="On The Go Starter Kit Menthol ">On The Go Starter Kit Menthol </a></h2>



            <div class="price-box">
              <span class="regular-price" id="product-price-6">
                <span class="price">$18.00</span>                                    </span>

              </div>


              <div class="wrapper-hover-hiden">
                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html')"><span><span>Add to Cart</span></span></button>
                </div>
              </div>
            </div>
            <div class="label-product">
            </div>
          </div>
        </li>
        <li class="item  last col-xs-12 col-sm-4" itemscope itemtype="https://schema.org/product">
          <div class="wrapper-hover">
            <div class="product-image-container">

              <a href="https://livedemo00.template-help.com/magento_57714/eleaf-istick-20w-wrap-vape-box.html" title="Eleaf iStick 20W Wrap Vape Box" class="product-image" itemprop="url">
                <img id="product-collection-image-3" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/228x228/9df78eab33525d08d6e5fb8d27136e95/e/l/eleaf-istick-20w-wrap-vape-box_2_.png" alt="Eleaf iStick 20W Wrap Vape Box" width="228" height="228" itemprop="image" />
              </a>

            </div>

            <div class="product-details">


              <h2 class="product-name" itemprop="name"><a href="https://livedemo00.template-help.com/magento_57714/eleaf-istick-20w-wrap-vape-box.html" title="Eleaf iStick 20W Wrap Vape Box">Eleaf iStick 20W Wrap Vape Box</a></h2>
              <div class="price-box">

                <p class="old-price">
                  <span class="price-label">Regular Price:</span>
                  <span class="price" id="old-price-3">
                  $14.00                </span>
                </p>

                <p class="special-price">
                  <span class="price-label">Special Price</span>
                  <span class="price" id="product-price-3">
                  $12.00                </span>
                </p>


              </div>
              <div class="wrapper-hover-hiden">
                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/3/form_key/b1X20vpkaIpFP25S/')"><span><span>Add to Cart</span></span></button>
                </div>
              </div>
            </div>
            <div class="label-product">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
