<div class="main-col-left">
  <div class="blog-bg" data-source-url="skin url='images/blog-bg.jpg">
    <div class="widget-latest">
      <div class="widget-title center">
        <h1>Bài Viết</h1>
      </div>
      <ul>
        <li>
          <div class="postWidget">
            <div class="postImage">
              <a href="https://livedemo00.template-help.com/magento_57714/blog/post-3/" ><img src="https://livedemo00.template-help.com/magento_57714/media/wysiwyg/blog-img/post-3.jpg" alt="post-img" /></a>
            </div>
            <div class="post-desc">
              <span class="widget-latest-data">01 October 2015</span>
              <div class="widget-latest-title"><a href="https://livedemo00.template-help.com/magento_57714/blog/post-3/" >Establishing Your Brand on College Campuses</a></div>
              <!--<div class="postContent">short_content</div>-->
              <a href="https://livedemo00.template-help.com/magento_57714/blog/post-3/"class="aw-blog-read-more all-blog">Read more</a>
            </div>

          </div>
        </li>
        <li>
          <div class="postWidget">
            <div class="postImage">
              <a href="https://livedemo00.template-help.com/magento_57714/blog/post-2/" ><img src="https://livedemo00.template-help.com/magento_57714/media/wysiwyg/blog-img/post-2.jpg" alt="post-img" /></a>
            </div>
            <div class="post-desc">
              <span class="widget-latest-data">01 October 2015</span>
              <div class="widget-latest-title"><a href="https://livedemo00.template-help.com/magento_57714/blog/post-2/" >Believe in the Business of Your Dreams</a></div>
              <!--<div class="postContent">short_content</div>-->
              <a href="https://livedemo00.template-help.com/magento_57714/blog/post-2/"class="aw-blog-read-more all-blog">Read more</a>
            </div>

          </div>
        </li>
        <li>
          <div class="postWidget">
            <div class="postImage">
              <a href="https://livedemo00.template-help.com/magento_57714/blog/post-1/" ><img src="https://livedemo00.template-help.com/magento_57714/media/wysiwyg/blog-img/post-1.jpg" alt="post-img" /></a>
            </div>
            <div class="post-desc">
              <span class="widget-latest-data">01 October 2015</span>
              <div class="widget-latest-title"><a href="https://livedemo00.template-help.com/magento_57714/blog/post-1/" >Impact - The Heart of Business</a></div>
              <!--<div class="postContent">short_content</div>-->
              <a href="https://livedemo00.template-help.com/magento_57714/blog/post-1/"class="aw-blog-read-more all-blog">Read more</a>
            </div>

          </div>
        </li>
      </ul>
      <!-- <a href=""class="aw-blog-read-more all-blog"></a> -->
    </div>
  </div>

</div>
