<div class="top-container">
  <div class="widget widget-static-block">
    <div class="clear"></div>
    <div class="fluid_container_wrap">
      <div class="fluid_container">
        <div class="camera_wrap camera_orange_skin" id="camera_wrap">
          <div data-thumb="<%= asset_url('slide1.jpg') %>" data-src="<%= asset_url('slide1.jpg') %>">
            <div class="camera_caption fadeFromRight">
              <h1>STAR Series</h1>
              <h2>FOR HIGH QUALITY AND LIFE ENJOYMENT</h2>
              <a href="accessories.html">Shop now</a>
            </div>
          </div>
          <div data-thumb="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/slide-2.jpg" data-src="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/slide-2.jpg">
           <div class="camera_caption fadeFromRight">
            <h1>Electronic cigarette</h1>
            <h2>&amp; Vaporizer brand</h2>
            <a href="premium-kits.html">Shop now</a>
          </div>
        </div>
        <div data-thumb="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/slide-3.jpg" data-src="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/slide-3.jpg">
         <div class="camera_caption fadeFromRight">
          <h1>Build your own <br />vaporizer kit</h1>
          <a href="e-cigarettes.html">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
</div>
</div>
