<% unless object.errors.empty? %>
  <div class="box box-widget box-danger bg-red">
    <div class="box-body white-text">
      <ul>
      <% object.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
