<div class="wrapper">
  <noscript>
    <div class="global-site-notice noscript">
      <div class="notice-inner">
        <p><strong>JavaScript seems to be disabled in your browser.</strong><br />
          You must have JavaScript enabled in your browser to utilize the functionality of this website.</p>
      </div>
    </div>
  </noscript>
  <div class="page">
  <header id="header" class="page-header">
    <div class="header-row-background">
      <div class="container">
        <div class="header-row">
          <!-- Search -->
          <div class="header-search desktop">
            <div class="top-search"></div>
            <form id="search_mini_form" action="https://livedemo00.template-help.com/magento_57714/catalogsearch/result/" method="get">
              <div class="input-box">
                <div class="top-search"></div>
                <label for="search">Search:</label>
                <input
                id="search"
                type="search"
                autocomplete="off"
                class="input-text required-entry"
                name="q"
                value=""
                maxlength="128"
                placeholder="Search entire store here..."/>
                <button type="submit" title="Search" class="button search-button">
                  <span>
                    <span>Search</span>
                  </span>
                </button>
              </div>
              <div id="search_autocomplete" class="search-autocomplete">
              </div>
            </form>
          </div>
          <!-- end Search -->
          <div class="header-minicart desktop">
            <a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/" data-target-element="#header-cart" class="skip-link skip-cart  no-count">
                <span class="icon"></span>
                <span class="label">Cart</span>
                <span class="count">0</span>
            </a>
            <div id="header-cart" class="block block-cart skip-content">
              <div id="minicart-error-message" class="minicart-message"></div>
                <div id="minicart-success-message" class="minicart-message"></div>
                <div class="minicart-wrapper">
                  <p class="block-subtitle">
                    Recently added item(s)<a class="close skip-link-close material-design-cancel19" href="#" title="Close"></a>
                  </p>
                  <p class="empty">You have no items in your shopping cart.</p>
                </div>
              </div>
            </div>
            <div class="header-switchers">
              <div class="header-button currency-list full_mode">
                <div class="header-button-title">
                  <span class="current">USD</span>
                </div>
                <ul>
                  <li>
                    <a  href="https://livedemo00.template-help.com/magento_57714/directory/currency/switch/currency/EUR/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/" title="EUR"><span>€ Euro</span><span class="mobile-part">EUR</span></a>
                  </li>
                  <li>
                    <a  class="selected" href="https://livedemo00.template-help.com/magento_57714/directory/currency/switch/currency/USD/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/" title="USD"><span>$ US Dollar</span><span class="mobile-part">USD</span></a>
                  </li>
                </ul>
              </div>
              <div class="header-button lang-list full_mode">
                <div class="header-button-title"><!--<span class="label">Your Language:</span>--> <span class="current">English</span></div>
                <ul>
                  <li>
                    <a  class="selected" href="https://livedemo00.template-help.com/magento_57714/?___store=english&amp;___from_store=english" title="en_US"><span>English</span><span class="mobile-part">en</span></a>
                  </li>
                  <li>
                    <a  href="https://livedemo00.template-help.com/magento_57714/?___store=german&amp;___from_store=english" title="de_DE"><span>German</span><span class="mobile-part">de</span></a>
                  </li>
                  <li>
                    <a  href="https://livedemo00.template-help.com/magento_57714/?___store=spanish&amp;___from_store=english" title="es_ES"><span>Spanish</span><span class="mobile-part">es</span></a>
                  </li>
                  <li>
                    <a  href="https://livedemo00.template-help.com/magento_57714/?___store=russian&amp;___from_store=english" title="ru_RU"><span>Russian</span><span class="mobile-part">ru</span></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Top Links -->
            <div class="top-links">
              <div id="" class="top-links-inline">
                <div class="links">
                  <ul>
                    <li class="first" >
                        <a href="#" title="Hotline" class="my-account-link">
                          <i class="fa fa-phone" aria-hidden="true"></i>
                          Hot line: 012344559609
                        </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end Top Links -->
            <!--<p class="welcome-msg">Welcome to our online store! </p>-->
            <!-- logo -->
            <a class="logo" href="https://livedemo00.template-help.com/magento_57714/">
              <img src="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/logo.png" alt="Magento Commerce"/>
            </a>
            <!-- end logo -->
          </div>
      </div>
    </div>

    <!-- *************  Skip Container for Mobile ************* -->
      <div class="skip-container mobile">
        <div class="container">
          <div class="skip-links">
            <!-- Menu Label -->
            <a href="#header-nav" class="skip-link skip-nav">
              <span class="icon"></span>
              <span class="label">Menu</span>
            </a>

            <!-- Search Label -->
            <a href="#header-search" class="skip-link skip-search">
              <span class="icon"></span>
              <span class="label">Search</span>
            </a>
            <!-- Search content -->
            <div id="header-search" class="skip-content">
              <form id="search_mini_form" action="https://livedemo00.template-help.com/magento_57714/catalogsearch/result/" method="get">
                <div class="input-box">
                  <div class="top-search"></div>
                  <label for="search">Search:</label>
                  <input
                  id="search"
                  type="search"
                  autocomplete="off"
                  class="input-text required-entry"
                  name="q"
                  value=""
                  maxlength="128"
                  placeholder="Search entire store here..."/>
                  <button type="submit" title="Search" class="button search-button">
                    <span>
                      <span>Search</span>
                    </span>
                  </button>
                </div>

                <div id="search_autocomplete" class="search-autocomplete">
                </div>
              </form>
            </div>

            <!-- Account Label -->
            <a href="https://livedemo00.template-help.com/magento_57714/customer/account/" data-target-element="#header-account" class="skip-link skip-account">
              <span class="icon"></span>
              <span class="label">Account</span>
            </a>
                <!-- Account content -->
            <div id="header-account" class="skip-content">
              <div class="header-button lang-list full_mode">
                <div class="header-button-title"><span class="current">English</span></div>
                <ul>
                  <li>
                    <a  class="selected" href="https://livedemo00.template-help.com/magento_57714/?___store=english&amp;___from_store=english" title="en_US"><span>English</span><span class="mobile-part">en</span></a>
                  </li>
                  <li>
                    <a  href="https://livedemo00.template-help.com/magento_57714/?___store=german&amp;___from_store=english" title="de_DE"><span>German</span><span class="mobile-part">de</span></a>
                  </li>
                  <li>
                    <a  href="https://livedemo00.template-help.com/magento_57714/?___store=spanish&amp;___from_store=english" title="es_ES"><span>Spanish</span><span class="mobile-part">es</span></a>
                  </li>
                  <li>
                    <a  href="https://livedemo00.template-help.com/magento_57714/?___store=russian&amp;___from_store=english" title="ru_RU"><span>Russian</span><span class="mobile-part">ru</span></a>
                  </li>
                </ul>
              </div>
              <div class="header-button currency-list full_mode">
                <div class="header-button-title">
                  <span class="current">USD</span>
                </div>
                <ul>
                  <li>
                    <a  href="https://livedemo00.template-help.com/magento_57714/directory/currency/switch/currency/EUR/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/" title="EUR"><span>€ Euro</span><span class="mobile-part">EUR</span></a>
                  </li>
                  <li>
                    <a  class="selected" href="https://livedemo00.template-help.com/magento_57714/directory/currency/switch/currency/USD/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/" title="USD"><span>$ US Dollar</span><span class="mobile-part">USD</span></a>
                  </li>
                </ul>
              </div>


                  <div class="links">
                    <ul>
                      <li class="first" ><a href="https://livedemo00.template-help.com/magento_57714/customer/account/" title="My Account" class="my-account-link">My Account</a></li>
                      <li ><a href="https://livedemo00.template-help.com/magento_57714/wishlist/" title="My Wishlist" class="wishlist-link">My Wishlist</a></li>
                      <li ><a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/" title="My Cart" class="top-link-cart">My Cart</a></li>
                      <li ><a href="https://livedemo00.template-help.com/magento_57714/checkout/" title="Checkout" class="top-link-checkout">Checkout</a></li>
                      <li ><a href="https://livedemo00.template-help.com/magento_57714/customer/account/create/" title="Register" class="register-link">Register</a></li>
                      <li class=" last" ><a href="https://livedemo00.template-help.com/magento_57714/customer/account/login/" title="Log In" class="log-in-link">Log In</a></li>
                    </ul>
                  </div>
                </div>

                <!-- Cart -->
                <div class="header-minicart mobile">


                  <a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/" data-target-element="#header-cart-mobile" class="skip-link skip-cart  no-count">
                    <span class="icon"></span>
                    <span class="label">Cart</span>
                    <span class="count">0</span>
                  </a>

                  <div id="header-cart-mobile" class="block block-cart skip-content">

                    <div id="minicart-error-message" class="minicart-message"></div>
                    <div id="minicart-success-message" class="minicart-message"></div>

                    <div class="minicart-wrapper">

                      <p class="block-subtitle">
                        Recently added item(s)        <a class="close skip-link-close material-design-cancel19" href="#" title="Close"></a>
                      </p>

                      <p class="empty">You have no items in your shopping cart.</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- *************  End Skip Container ************* -->
          <div class="main-menu">
          <div class="container">
            <div id="header-nav" class="skip-content nav-content">
              <div class="nav-container-mobile">
                <div class="sf-menu-block">
                  <ul class="sf-menu-phone">
                    <li  class="level0 nav-1 first parent">
                      <a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes.html" class="level0 has-children">e-cigarettes</a>
                      <ul class="level0">
                        <li  class="level1 nav-1-1 first"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rocket.html" class="level1 "> rocket</a></li>
                        <li  class="level1 nav-1-2"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/mini-mod.html" class="level1 ">mini MOD</a></li>
                        <li  class="level1 nav-1-3"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/platinum-pro.html" class="level1 ">platinum pro</a></li>
                        <li  class="level1 nav-1-4"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/cartomizers.html" class="level1 "> Cartomizers</a></li>
                        <li  class="level1 nav-1-5"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/clearomizers.html" class="level1 "> Clearomizers </a></li>
                        <li  class="level1 nav-1-6"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/tanks.html" class="level1 "> Tanks</a></li>
                        <li  class="level1 nav-1-7"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/glassomizers.html" class="level1 "> Glassomizers</a></li>
                        <li  class="level1 nav-1-8"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/sub-ohm-tanks.html" class="level1 "> Sub-Ohm Tanks</a></li>
                        <li  class="level1 nav-1-9 last parent"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable.html" class="level1 has-children"> Rebuildable</a>
                          <ul class="level1">
                            <li  class="level2 nav-1-9-1 first"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable/authentic.html" class="level2 ">Generic</a></li>
                            <li  class="level2 nav-1-9-2 last"><a href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable/authentic-2.html" class="level2 ">Authentic</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li  class="level0 nav-2"><a href="https://livedemo00.template-help.com/magento_57714/accessories.html" class="level0 ">accessories </a></li>
                    <li  class="level0 nav-3"><a href="https://livedemo00.template-help.com/magento_57714/atomizers-cartomizers.html" class="level0 ">atomizers &amp; cartomizers</a></li>
                    <li  class="level0 nav-4 last"><a href="https://livedemo00.template-help.com/magento_57714/premium-kits.html" class="level0 ">premium Kits</a></li>
                  </ul>
                  <div class="clear"></div>
                </div>
              </div>

              <div class="nav-container">
                <div class="nav">
                  <ul id="nav" class="grid-full">
                    <li  class="level nav-1 first parent  no-level-thumbnail ">
                      <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes.html">
                        <div class="thumbnail"></div>
                        <span style="color:;">e-cigarettes</span><span class="spanchildren"></span>
                      </a>
                      <div class="level-top">
                        <div class="level  column2" style="width:930px;">
                          <ul class="level1 menu-product menu-product-one" style="width:608px;">
                            <li class="level2 levelproducttow fast" style="width:50%;">
                              <a href="https://livedemo00.template-help.com/magento_57714/vaporfi-orbit-dry-herb-vaporizer-kit.html" title="VaporFi Orbit Dry Herb Vaporizer Kit">
                                <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/v/a/vaporfi-orbit-dry-herb-vaporizer-kit_03.png" alt="VaporFi Orbit Dry Herb Vaporizer Kit" title="VaporFi Orbit Dry Herb Vaporizer Kit"/>
                              </a>
                              <a href="https://livedemo00.template-help.com/magento_57714/vaporfi-orbit-dry-herb-vaporizer-kit.html" title="VaporFi Orbit Dry Herb Vaporizer Kit"> <span class="product-name">VaporFi Orbit Dry Herb Vaporizer Kit</span>
                              </a>
                              <div class="rating-box">
                                <div class="rating" style="width:60%;"></div>
                              </div>
                              <div class="price-box">
                                <span class="regular-price" id="product-price-8">
                                  <span class="price">$26.00</span>
                                </span>
                              </div>

                                <a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/8/form_key/b1X20vpkaIpFP25S/"><button class="button btn-cart btn-featurecart btn-carthover2" onclick="productAddToCartForm.submit(this)"><span><span>Add to Cart</span></span></button></a><ul class="add-to-links"><li><a href="https://livedemo00.template-help.com/magento_57714/wishlist/index/add/product/8/form_key/b1X20vpkaIpFP25S/" class="link-wishlist">Add Wishlist</a></li><li><a href="" class="link-compare">Add Compare</a></li></ul></li></ul>
                                <ul class=" level menu-content"><li><div class="static-block-left" style="width:330px; float: left; margin-top: 5px; margin-right: 10px;"><div class="menu-block">
                                  <h2>About Atomizers</h2>
                                  <p>This product will spark your imagination. Even more, it will turn your life into adventure. Find the package you are sure to love, and look for matching comforter sets to give you the ultimate imagination-sparking room.</p>
                                </div></div>

                                <ul class="catagory_children"><li class="li-wrapper"><div  class="level1 nav-1-1 first item  no-level-thumbnail " style="width:50%;">
                                  <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rocket.html">
                                    <div class="thumbnail"></div>
                                    <span style="color:;  "> rocket</span>
                                  </a>

                                  <div class="level-top">
                                    <div class="level1  column1">

                                      <ul class="d level1">

                                      </ul>
                                    </div>
                                  </div>
                                </div><div  class="level1 nav-1-2 item  no-level-thumbnail " style="width:50%;">
                                <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/mini-mod.html">
                                  <div class="thumbnail"></div>
                                  <span style="color:;  ">mini MOD</span>
                                </a>

                                <div class="level-top">
                                  <div class="level1  column1">

                                    <ul class="d level1">

                                    </ul>
                                  </div>
                                </div>
                              </div><div  class="level1 nav-1-3 item  no-level-thumbnail " style="width:50%;">
                              <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/platinum-pro.html">
                                <div class="thumbnail"></div>
                                <span style="color:;  ">platinum pro</span>
                              </a>

                              <div class="level-top">
                                <div class="level1  column1">

                                  <ul class="d level1">

                                  </ul>
                                </div>
                              </div>
                            </div><div  class="level1 nav-1-4 item  no-level-thumbnail " style="width:50%;">
                            <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/cartomizers.html">
                              <div class="thumbnail"></div>
                              <span style="color:;  "> Cartomizers</span>
                            </a>

                            <div class="level-top">
                              <div class="level1  column1">

                                <ul class="d level1">

                                </ul>
                              </div>
                            </div>
                          </div><div  class="level1 nav-1-5 item  no-level-thumbnail " style="width:50%;">
                          <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/clearomizers.html">
                            <div class="thumbnail"></div>
                            <span style="color:;  "> Clearomizers </span>
                          </a>

                          <div class="level-top">
                            <div class="level1  column1">

                              <ul class="d level1">

                              </ul>
                            </div>
                          </div>
                        </div><div  class="level1 nav-1-6 item  no-level-thumbnail " style="width:50%;">
                        <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/tanks.html">
                          <div class="thumbnail"></div>
                          <span style="color:;  "> Tanks</span>
                        </a>

                        <div class="level-top">
                          <div class="level1  column1">

                            <ul class="d level1">

                            </ul>
                          </div>
                        </div>
                      </div><div  class="level1 nav-1-7 item  no-level-thumbnail " style="width:50%;">
                      <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/glassomizers.html">
                        <div class="thumbnail"></div>
                        <span style="color:;  "> Glassomizers</span>
                      </a>

                      <div class="level-top">
                        <div class="level1  column1">

                          <ul class="d level1">

                          </ul>
                        </div>
                      </div>
                    </div><div  class="level1 nav-1-8 item  no-level-thumbnail " style="width:50%;">
                    <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/sub-ohm-tanks.html">
                      <div class="thumbnail"></div>
                      <span style="color:;  "> Sub-Ohm Tanks</span>
                    </a>

                    <div class="level-top">
                      <div class="level1  column1">

                        <ul class="d level1">

                        </ul>
                      </div>
                    </div>
                  </div><div  class="level1 nav-1-9 last parent item  no-level-thumbnail " style="width:50%;">
                  <a style=" " class="catagory-level1" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable.html">
                    <div class="thumbnail"></div>
                    <span style="color:;"> Rebuildable</span><span class="spanchildren"></span>
                  </a>

                  <div class="level-top">
                    <div class="level1  column1">

                      <ul class="d level1">
                        <li class="catagory_children  column1"><div  class="level2 nav-1-9-1 first  no-level-thumbnail ">
                          <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable/authentic.html">
                            <div class="thumbnail"></div>
                            <span style="color:;  ">Generic</span>
                          </a>
                          <div class="level-top">
                            <div class="level2  column1">

                              <ul class="d level2">

                              </ul>
                            </div>
                          </div>
                        </div><div  class="level2 nav-1-9-2 last  no-level-thumbnail ">
                        <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/e-cigarettes/rebuildable/authentic-2.html">
                          <div class="thumbnail"></div>
                          <span style="color:;  ">Authentic</span>
                        </a>
                        <div class="level-top">
                          <div class="level2  column1">

                            <ul class="d level2">

                            </ul>
                          </div>
                        </div>
                      </div></li>

                    </ul>
                  </div>
                </div>
              </div></li></ul>
            </li></ul>
          </div>
        </div>
      </li><li  class="level nav-2  no-level-thumbnail ">
      <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/accessories.html">
        <div class="thumbnail"></div>
        <span style="color:;  ">accessories </span>
      </a>
      <div class="level-top">
        <div class="level  column1" style="width:930px;">

          <ul class=" level"><li>

          </li></ul>
        </div>
      </div>
    </li><li  class="level nav-3  no-level-thumbnail ">
    <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/atomizers-cartomizers.html">
      <div class="thumbnail"></div>
      <span style="color:;  ">atomizers &amp; cartomizers</span>
    </a>
    <div class="level-top">
      <div class="level  column1" style="width:930px;">

        <ul class=" level"><li>

        </li></ul>
      </div>
    </div>
  </li><li  class="level nav-4 last  no-level-thumbnail ">
  <a  style="background-color:" href="https://livedemo00.template-help.com/magento_57714/premium-kits.html">
    <div class="thumbnail"></div>
    <span style="color:;  ">premium Kits</span>
  </a>
  <div class="level-top">
    <div class="level  column1" style="width:930px;">

      <ul class=" level"><li>

      </li></ul>
    </div>
  </div>
</li>
<li></li>
</ul>
</div> <!-- end: nav -->
</div> <!-- end: nav-container -->
</div>
</div>
</div>

<div class="top-container"><div class="widget widget-static-block"><div class="clear"></div>
<script src="js/camera.js"> </script>
<script>
  jQuery(function(){
    jQuery('#camera_wrap').camera({
      alignmen: 'topCenter',
      height: '51.28%',
      minHeight: '200px',
      loader : false,
      navigation: true,
      fx: 'simpleFade',
      navigationHover:false,
      thumbnails: false,
      playPause: false,
      thumbnails: true,
      pagination:true
    });
  });
</script>

<div class="fluid_container_wrap">
  <div class="fluid_container">
    <div class="camera_wrap camera_orange_skin" id="camera_wrap">

      <div data-thumb="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/slide-1.jpg" data-src="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/slide-1.jpg">
        <div class="camera_caption fadeFromRight">
          <h1>STAR Series</h1>
          <h2>FOR HIGH QUALITY AND LIFE ENJOYMENT</h2>
          <a href="accessories.html">Shop now</a>
        </div>
      </div>
      <div data-thumb="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/slide-2.jpg" data-src="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/slide-2.jpg">
       <div class="camera_caption fadeFromRight">
        <h1>Electronic cigarette</h1>
        <h2>&amp; Vaporizer brand</h2>
        <a href="premium-kits.html">Shop now</a>
      </div>
    </div>
    <div data-thumb="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/slide-3.jpg" data-src="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/slide-3.jpg">
     <div class="camera_caption fadeFromRight">
      <h1>Build your own <br />vaporizer kit</h1>
      <a href="e-cigarettes.html">Shop now</a>
    </div>
  </div>
</div>
</div>
</div>
<div class="clear"></div></div></div>

</header>



    <div class="main-container col2-left-layout">
            <div class="container">
        <div class="main">
          <div class="row">

            <div class="col-main col-xs-12 col-sm-7 col-sm-offset-1">


        <div class="youama-ajaxlogin-loader">
    </div>

        <div class="youama-login-window">
        <div class="youama-window-outside">
            <span class="close">×</span>

            <div class="youama-window-inside">

                <div class="youama-window-title">
                    <h3>
                        Login Form                    </h3>
                </div>

                <div class="account-login">
                                                            <script type="text/javascript">
                        //<![CDATA[
                        var dataForm = new VarienForm('login-form', true);
                        //]]>
                    </script>

                </div>

                <div class="youama-window-box first">
                    <div class="youama-window-content">
                        <div class="input-fly youama-showhideme input-email">
                            <label>E-mail address <span>*</span></label>
                            <input type="text" placeholder="E-mail address" class="youama-email" name="youama-email" value="" />

                        </div>
                        <div class="input-fly youama-showhideme input-password">
                            <label>Password <span>*</span></label>
                            <input type="password" placeholder="Password" class="youama-password" name="youama-password" value="" />
                        </div>
                    </div>
                    <div class="youama-ajaxlogin-error err-email err-noemail err-wrongemail err-wronglogin"></div>
                    <div class="youama-ajaxlogin-error err-password err-dirtypassword err-nopassword err-longpassword"></div>
                </div>

                <div class="youama-window-box last">
                    <div class="youama-window-content box-contents box-contents-button youama-showhideme">
                        <span class="youama-forgot-password">
                            <a href="https://livedemo00.template-help.com/magento_57714/customer/account/forgotpassword/">Forgot Password ?</a>
                        </span>
                        <button type="button" class="button btn-login btn-proceed-checkout btn-checkout youama-ajaxlogin-button">
                            <span>
                                <span>
                                    Login                                </span>
                            </span>
                        </button>
                        <p id="y-to-register" class="yoauam-switch-window">
                            or registration                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


        <div class="youama-register-window">
        <div class="youama-window-outside">
            <span class="close">×</span>

            <div class="youama-window-inside">
                <div class="youama-window-title">
                    <h3>
                        Registration                    </h3>

                </div>

                <div class="youama-window-box first">
                    <div class="youama-window-subtitle youama-showhideme">
                        <p>Profile Informations</p>
                    </div>
                    <div class="youama-window-content">
                        <div class="input-fly youama-showhideme input-firstname">
                            <label for="youama-firstname">First Name <span>*</span></label>
                            <input type="text" placeholder="First Name" id="youama-firstname" name="youama-firstname" value="" />
                            <div class="youama-ajaxlogin-error err-firstname err-nofirstname err-dirtyfirstname"></div>
                        </div>
                        <div class="input-fly youama-showhideme input-lastname">
                            <label for="youama-lastname">Last Name <span>*</span></label>
                            <input type="text" placeholder="Last Name" id="youama-lastname" name="youama-lastname" value="" />
                            <div class="youama-ajaxlogin-error err-lastname err-nolastname err-dirtylastname"></div>
                        </div>
                        <div class="input-fly input-fly-checkbox youama-showhideme">
                            <input type="checkbox" id="youama-newsletter" name="youama-newsletter" value="ok" />
                            <label for="youama-newsletter">Subscribe to Newsletter</label>
                        </div>
                    </div>
                </div>

                <div class="youama-window-box second">
                    <div class="youama-window-subtitle youama-showhideme">
                        <p>Login Datas</p>
                    </div>
                    <div class="youama-window-content">
                        <div class="input-fly youama-showhideme input-email">
                            <label>E-mail address <span>*</span></label>
                            <input type="text" placeholder="E-mail address" class="youama-email" name="youama-email" value="" />
                            <div class="youama-ajaxlogin-error err-email err-noemail err-wrongemail err-emailisexist"></div>
                        </div>
                        <div class="input-fly youama-showhideme input-password">
                            <label>Password <span>*</span></label>
                            <input type="password" placeholder="Password" class="youama-password" name="youama-password" value="" />
                            <div class="youama-ajaxlogin-error err-password err-dirtypassword err-nopassword err-shortpassword err-longpassword"></div>
                        </div>
                        <div class="input-fly youama-showhideme input-passwordsecond">
                            <label for="youama-passwordsecond">Password confirmation <span>*</span></label>
                            <input type="password" placeholder="Password confirmation" id="youama-passwordsecond" name="youama-passwordsecond" value="" />
                            <div class="youama-ajaxlogin-error err-passwordsecond err-nopasswordsecond err-notsamepasswords"></div>
                        </div>
                        <div class="input-fly input-fly-checkbox youama-showhideme">
                            <input type="checkbox" id="youama-licence" name="youama-licence" value="ok" />
                            <label for="youama-licence">I accept the <a href="https://livedemo00.template-help.com/magento_57714/privacy-policy-cookie-restriction-mode/" target="_blank">Terms and Coditions</a></label>
                            <div class="youama-ajaxlogin-error err-nolicence"></div>
                        </div>
                    </div>
                </div>

                <div class="youama-window-box last">
                    <div class="youama-window-content box-contents youama-showhideme">
                        <button type="button" class="button btn-reg btn-proceed-checkout btn-checkout youama-ajaxlogin-button">
                            <span>
                                <span>
                                    Register                                </span>
                            </span>
                        </button>
                        <p id="y-to-login" class="yoauam-switch-window">
                            or login                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


        <div class="youama-confirmmsg-window" style="display:none;">
        <div class="youama-window-outside">
            <span class="close">×</span><br />
            <div class="alert alert-success">Account confirmation is required. Please, check your email for the confirmation link.</div>
        </div>
    </div>

        <div class="youama_ajaxlogin-temp-error" style="display:none !important;">
        <div class="ytmpa-nofirstname">First name is required!</div>
        <div class="ytmpa-nolastname">Last name is required!</div>
        <div class="ytmpa-dirtyfirstname">First name is not valid!</div>
        <div class="ytmpa-dirtylastname">Last name is not valid!</div>

        <div class="ytmpa-wrongemail">This is not an email address!</div>
        <div class="ytmpa-noemail">Email address is required!</div>
        <div class="ytmpa-emailisexist">This email is already registered!</div>

        <div class="ytmpa-nopassword">Password is required!</div>
        <div class="ytmpa-dirtypassword">Enter a valid password!</div>
        <div class="ytmpa-shortpassword">Please enter 6 or more characters!</div>
        <div class="ytmpa-longpassword">Please enter 16 or less characters!</div>
        <div class="ytmpa-notsamepasswords">Passwords are not same!</div>
        <div class="ytmpa-nolicence">Terms and Conditions are required!</div>

        <div class="ytmpa-wronglogin">Email or Password is wrong!</div>


    </div>





        <script type="text/javascript">
        //<![CDATA[
           jQuery(window).load(function(){
                jQuery().youamaAjaxLogin({
                    redirection : '0',
                    profileUrl : 'https://livedemo00.template-help.com/magento_57714/customer/account/',
                    autoShowUp : 'no',
                    controllerUrl : 'https://livedemo00.template-help.com/magento_57714/ajaxlogin/ajax/index/'
                });
            });
        //]]>
    </script>

<div class="std"><div class="clear"></div></div><div class="widget widget-static-block"><div class="banner">
<div>
  <img src="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/banner.jpg" alt="" />
        <span class="s-desc">
<h1>THE BEST<br />
E-CIGARETTES</h1>
<p>See our most popular products</p>
<a href="https://livedemo00.template-help.com/magento_57714/accessories.html">Shop now</a>
</span>
</div>
</div></div>
<div class="widget widget-new-products">
  <div class="widget-title">
    <h2>New Products</h2>
  </div>
  <div class="widget-products">
                    <ul class="products-grid row">
          <li class="item  first col-xs-12 col-sm-4" itemscope itemtype="https://schema.org/product">
        <div class="wrapper-hover">
          <div class="product-image-container">

            <a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" title="Dragon Knight Mechanical Electronic " class="product-image" itemprop="url">
              <img id="product-collection-image-2" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/228x228/9df78eab33525d08d6e5fb8d27136e95/d/r/dragon-knight-mechanical-electronic_6_.png" alt="Dragon Knight Mechanical Electronic " width="228" height="228" itemprop="image" />
            </a>

                      </div>

          <div class="product-details">


            <h2 class="product-name" itemprop="name"><a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" title="Dragon Knight Mechanical Electronic ">Dragon Knight Mechanical Electronic </a></h2>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-2">
                    $15.00                </span>
            </p>

                            <p class="special-price">
                    <span class="price-label">Special Price</span>
                <span class="price" id="product-price-2">
                    $13.00                </span>
                </p>


        </div>


            <div class="wrapper-hover-hiden">
              <div class="actions">
                                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html')"><span><span>Add to Cart</span></span></button>
                              </div>
            </div>
          </div>
          <div class="label-product">
                                  </div>
        </div>
      </li>
                      <li class="item  col-xs-12 col-sm-4" itemscope itemtype="https://schema.org/product">
        <div class="wrapper-hover">
          <div class="product-image-container">

            <a href="https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html" title="On The Go Starter Kit Menthol " class="product-image" itemprop="url">
              <img id="product-collection-image-6" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/228x228/9df78eab33525d08d6e5fb8d27136e95/o/n/on-the-go-starter-kit-menthol-_high__06.png" alt="On The Go Starter Kit Menthol " width="228" height="228" itemprop="image" />
            </a>

                      </div>

          <div class="product-details">


            <h2 class="product-name" itemprop="name"><a href="https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html" title="On The Go Starter Kit Menthol ">On The Go Starter Kit Menthol </a></h2>



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-6">
                                            <span class="price">$18.00</span>                                    </span>

        </div>


            <div class="wrapper-hover-hiden">
              <div class="actions">
                                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html')"><span><span>Add to Cart</span></span></button>
                              </div>
            </div>
          </div>
          <div class="label-product">
                                  </div>
        </div>
      </li>
                      <li class="item  last col-xs-12 col-sm-4" itemscope itemtype="https://schema.org/product">
        <div class="wrapper-hover">
          <div class="product-image-container">

            <a href="https://livedemo00.template-help.com/magento_57714/eleaf-istick-20w-wrap-vape-box.html" title="Eleaf iStick 20W Wrap Vape Box" class="product-image" itemprop="url">
              <img id="product-collection-image-3" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/228x228/9df78eab33525d08d6e5fb8d27136e95/e/l/eleaf-istick-20w-wrap-vape-box_2_.png" alt="Eleaf iStick 20W Wrap Vape Box" width="228" height="228" itemprop="image" />
            </a>

                      </div>

          <div class="product-details">


            <h2 class="product-name" itemprop="name"><a href="https://livedemo00.template-help.com/magento_57714/eleaf-istick-20w-wrap-vape-box.html" title="Eleaf iStick 20W Wrap Vape Box">Eleaf iStick 20W Wrap Vape Box</a></h2>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-3">
                    $14.00                </span>
            </p>

                            <p class="special-price">
                    <span class="price-label">Special Price</span>
                <span class="price" id="product-price-3">
                    $12.00                </span>
                </p>


        </div>


            <div class="wrapper-hover-hiden">
              <div class="actions">
                                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/3/form_key/b1X20vpkaIpFP25S/')"><span><span>Add to Cart</span></span></button>
                              </div>
            </div>
          </div>
          <div class="label-product">
                                  </div>
        </div>
      </li>
        </ul>
          </div>
</div>
            </div>
            <div class="col-left sidebar col-xs-12 col-sm-4">
                                          <div class="main-col-left"><div class="widget-catalogsale-products-carousel" id="dd73e02cfd0daca86f7ebcee23400f19" >
  <div class="page-title category-title">
    <h1>Special products</h1>
  </div>
  <ul class="sale-carousel">
        <li class="swiper-slide" itemscope itemtype="https://schema.org/product">
      <a class="product-image" href="https://livedemo00.template-help.com/magento_57714/freedom-vape-handheld-personal.html" title="Freedom Vape Handheld Personal" itemprop="url"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/228x/9df78eab33525d08d6e5fb8d27136e95/f/r/freedom-vape-handheld-personal-vaporizer_06.png" alt="Freedom Vape Handheld Personal" itemprop="image" /></a>
      <div class="product-details">
        <div class="p-left">
          <h2 class="product-name" itemprop="name">
            <a href="https://livedemo00.template-help.com/magento_57714/freedom-vape-handheld-personal.html" title="Freedom Vape Handheld Personal)">
              Freedom Vape Handheld Personal            </a>
          </h2>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                    $21.00                </span>
            </p>

                            <p class="special-price">
                    <span class="price-label">Special Price</span>
                <span class="price" id="product-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                    $18.00                </span>
                </p>


        </div>

        </div>
        <div class="p-right">
                      <a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/5/form_key/b1X20vpkaIpFP25S/" class="button"><span><span>Add to Cart</span></span></a>
                  </div>
      </div>
    </li>
        <li class="swiper-slide" itemscope itemtype="https://schema.org/product">
      <a class="product-image" href="https://livedemo00.template-help.com/magento_57714/electronic-cigarette-cartridge-refills.html" title="Electronic Cigarette Cartridge Refills" itemprop="url"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/228x/9df78eab33525d08d6e5fb8d27136e95/e/l/electronic-cigarette-cartridge-refills-_10-piece-pack_1_.png" alt="Electronic Cigarette Cartridge Refills" itemprop="image" /></a>
      <div class="product-details">
        <div class="p-left">
          <h2 class="product-name" itemprop="name">
            <a href="https://livedemo00.template-help.com/magento_57714/electronic-cigarette-cartridge-refills.html" title="Electronic Cigarette Cartridge Refills)">
              Electronic Cigarette Cartridge Refills            </a>
          </h2>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-4-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                    $25.00                </span>
            </p>

                            <p class="special-price">
                    <span class="price-label">Special Price</span>
                <span class="price" id="product-price-4-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                    $22.00                </span>
                </p>


        </div>

        </div>
        <div class="p-right">
                      <a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/4/form_key/b1X20vpkaIpFP25S/" class="button"><span><span>Add to Cart</span></span></a>
                  </div>
      </div>
    </li>
        <li class="swiper-slide" itemscope itemtype="https://schema.org/product">
      <a class="product-image" href="https://livedemo00.template-help.com/magento_57714/eleaf-istick-20w-wrap-vape-box.html" title="Eleaf iStick 20W Wrap Vape Box" itemprop="url"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/228x/9df78eab33525d08d6e5fb8d27136e95/e/l/eleaf-istick-20w-wrap-vape-box_2_.png" alt="Eleaf iStick 20W Wrap Vape Box" itemprop="image" /></a>
      <div class="product-details">
        <div class="p-left">
          <h2 class="product-name" itemprop="name">
            <a href="https://livedemo00.template-help.com/magento_57714/eleaf-istick-20w-wrap-vape-box.html" title="Eleaf iStick 20W Wrap Vape Box)">
              Eleaf iStick 20W Wrap Vape Box            </a>
          </h2>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-3-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                    $14.00                </span>
            </p>

                            <p class="special-price">
                    <span class="price-label">Special Price</span>
                <span class="price" id="product-price-3-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                    $12.00                </span>
                </p>


        </div>

        </div>
        <div class="p-right">
                      <a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/3/form_key/b1X20vpkaIpFP25S/" class="button"><span><span>Add to Cart</span></span></a>
                  </div>
      </div>
    </li>
        <li class="swiper-slide" itemscope itemtype="https://schema.org/product">
      <a class="product-image" href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" title="Dragon Knight Mechanical Electronic " itemprop="url"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/228x/9df78eab33525d08d6e5fb8d27136e95/d/r/dragon-knight-mechanical-electronic_6_.png" alt="Dragon Knight Mechanical Electronic " itemprop="image" /></a>
      <div class="product-details">
        <div class="p-left">
          <h2 class="product-name" itemprop="name">
            <a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" title="Dragon Knight Mechanical Electronic )">
              Dragon Knight Mechanical Electronic             </a>
          </h2>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-2-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                    $15.00                </span>
            </p>

                            <p class="special-price">
                    <span class="price-label">Special Price</span>
                <span class="price" id="product-price-2-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                    $13.00                </span>
                </p>


        </div>

        </div>
        <div class="p-right">
                      <a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" class="button"><span><span>Add to Cart</span></span></a>
                  </div>
      </div>
    </li>
        <li class="swiper-slide" itemscope itemtype="https://schema.org/product">
      <a class="product-image" href="https://livedemo00.template-help.com/magento_57714/ladys-electronic-vaporizer-variable.html" title="Ladys Electronic Vaporizer Variable" itemprop="url"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/228x/9df78eab33525d08d6e5fb8d27136e95/l/a/ladys-electronic-vaporizer-variable-voltage-vape_6_.png" alt="Ladys Electronic Vaporizer Variable" itemprop="image" /></a>
      <div class="product-details">
        <div class="p-left">
          <h2 class="product-name" itemprop="name">
            <a href="https://livedemo00.template-help.com/magento_57714/ladys-electronic-vaporizer-variable.html" title="Ladys Electronic Vaporizer Variable)">
              Ladys Electronic Vaporizer Variable           </a>
          </h2>



    <div class="price-box">

                    <p class="old-price">
                <span class="price-label">Regular Price:</span>
                <span class="price" id="old-price-26-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                    $44.00                </span>
            </p>

                            <p class="special-price">
                    <span class="price-label">Special Price</span>
                <span class="price" id="product-price-26-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                    $40.00                </span>
                </p>


        </div>

        </div>
        <div class="p-right">
                      <a href="https://livedemo00.template-help.com/magento_57714/ladys-electronic-vaporizer-variable.html" class="button"><span><span>Add to Cart</span></span></a>
                  </div>
      </div>
    </li>
        </ul>
</div>

  <div class="blog-bg" data-source-url="skin url='images/blog-bg.jpg">
    <div class="widget-latest">
      <div class="widget-title center">
        <h1>Latest Posts</h1>
      </div>
      <ul>
                                      <li>
              <div class="postWidget">
                <div class="postImage">
                  <a href="https://livedemo00.template-help.com/magento_57714/blog/post-3/" ><img src="https://livedemo00.template-help.com/magento_57714/media/wysiwyg/blog-img/post-3.jpg" alt="post-img" /></a>
                </div>
                <div class="post-desc">
                  <span class="widget-latest-data">01 October 2015</span>
                  <div class="widget-latest-title"><a href="https://livedemo00.template-help.com/magento_57714/blog/post-3/" >Establishing Your Brand on College Campuses</a></div>
                  <!--<div class="postContent">short_content</div>-->
                  <a href="https://livedemo00.template-help.com/magento_57714/blog/post-3/"class="aw-blog-read-more all-blog">Read more</a>
                </div>

              </div>
            </li>
                                                  <li>
              <div class="postWidget">
                <div class="postImage">
                  <a href="https://livedemo00.template-help.com/magento_57714/blog/post-2/" ><img src="https://livedemo00.template-help.com/magento_57714/media/wysiwyg/blog-img/post-2.jpg" alt="post-img" /></a>
                </div>
                <div class="post-desc">
                  <span class="widget-latest-data">01 October 2015</span>
                  <div class="widget-latest-title"><a href="https://livedemo00.template-help.com/magento_57714/blog/post-2/" >Believe in the Business of Your Dreams</a></div>
                  <!--<div class="postContent">short_content</div>-->
                  <a href="https://livedemo00.template-help.com/magento_57714/blog/post-2/"class="aw-blog-read-more all-blog">Read more</a>
                </div>

              </div>
            </li>
                                                  <li>
              <div class="postWidget">
                <div class="postImage">
                  <a href="https://livedemo00.template-help.com/magento_57714/blog/post-1/" ><img src="https://livedemo00.template-help.com/magento_57714/media/wysiwyg/blog-img/post-1.jpg" alt="post-img" /></a>
                </div>
                <div class="post-desc">
                  <span class="widget-latest-data">01 October 2015</span>
                  <div class="widget-latest-title"><a href="https://livedemo00.template-help.com/magento_57714/blog/post-1/" >Impact - The Heart of Business</a></div>
                  <!--<div class="postContent">short_content</div>-->
                  <a href="https://livedemo00.template-help.com/magento_57714/blog/post-1/"class="aw-blog-read-more all-blog">Read more</a>
                </div>

              </div>
            </li>
                                  </ul>
       <!-- <a href=""class="aw-blog-read-more all-blog"></a> -->
    </div>
  </div>

</div>
            </div>
                    </div>
        </div>
      </div>
    </div>


