<div class="wrapper">
  <div class="page">
  <header id="header" class="page-header">
    <%= render "partials/top_header" %>
    <%= render "partials/main_menu" %>
    <script src="js/camera.js"> </script>
    <script>
    jQuery(function(){
      jQuery('#camera_wrap').camera({
        alignmen: 'topCenter',
        height: '51.28%',
        minHeight: '200px',
        loader : false,
        navigation: true,
        fx: 'simpleFade',
        navigationHover:false,
        thumbnails: false,
        playPause: false,
        thumbnails: true,
        pagination:true
      });
    });
    </script>
    <%= render "partials/slider" %>
  </header>



<div class="main-container col2-left-layout">
  <div class="container">
    <div class="main">
      <div class="row">

        <div class="col-main col-xs-12 col-sm-7 col-sm-offset-1">


          <div class="youama-ajaxlogin-loader">
          </div>

          <div class="youama-login-window">
            <div class="youama-window-outside">
              <span class="close">×</span>

              <div class="youama-window-inside">

                <div class="youama-window-title">
                  <h3>
                    Login Form                    </h3>
                  </div>

                  <div class="account-login">
                    <script type="text/javascript">
                        //<![CDATA[
                        var dataForm = new VarienForm('login-form', true);
                        //]]>
                      </script>

                    </div>

                    <div class="youama-window-box first">
                      <div class="youama-window-content">
                        <div class="input-fly youama-showhideme input-email">
                          <label>E-mail address <span>*</span></label>
                          <input type="text" placeholder="E-mail address" class="youama-email" name="youama-email" value="" />

                        </div>
                        <div class="input-fly youama-showhideme input-password">
                          <label>Password <span>*</span></label>
                          <input type="password" placeholder="Password" class="youama-password" name="youama-password" value="" />
                        </div>
                      </div>
                      <div class="youama-ajaxlogin-error err-email err-noemail err-wrongemail err-wronglogin"></div>
                      <div class="youama-ajaxlogin-error err-password err-dirtypassword err-nopassword err-longpassword"></div>
                    </div>

                    <div class="youama-window-box last">
                      <div class="youama-window-content box-contents box-contents-button youama-showhideme">
                        <span class="youama-forgot-password">
                          <a href="https://livedemo00.template-help.com/magento_57714/customer/account/forgotpassword/">Forgot Password ?</a>
                        </span>
                        <button type="button" class="button btn-login btn-proceed-checkout btn-checkout youama-ajaxlogin-button">
                          <span>
                            <span>
                              Login                                </span>
                            </span>
                          </button>
                          <p id="y-to-register" class="yoauam-switch-window">
                            or registration                        </p>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>


                  <div class="youama-register-window">
                    <div class="youama-window-outside">
                      <span class="close">×</span>

                      <div class="youama-window-inside">
                        <div class="youama-window-title">
                          <h3>
                            Registration                    </h3>

                          </div>

                          <div class="youama-window-box first">
                            <div class="youama-window-subtitle youama-showhideme">
                              <p>Profile Informations</p>
                            </div>
                            <div class="youama-window-content">
                              <div class="input-fly youama-showhideme input-firstname">
                                <label for="youama-firstname">First Name <span>*</span></label>
                                <input type="text" placeholder="First Name" id="youama-firstname" name="youama-firstname" value="" />
                                <div class="youama-ajaxlogin-error err-firstname err-nofirstname err-dirtyfirstname"></div>
                              </div>
                              <div class="input-fly youama-showhideme input-lastname">
                                <label for="youama-lastname">Last Name <span>*</span></label>
                                <input type="text" placeholder="Last Name" id="youama-lastname" name="youama-lastname" value="" />
                                <div class="youama-ajaxlogin-error err-lastname err-nolastname err-dirtylastname"></div>
                              </div>
                              <div class="input-fly input-fly-checkbox youama-showhideme">
                                <input type="checkbox" id="youama-newsletter" name="youama-newsletter" value="ok" />
                                <label for="youama-newsletter">Subscribe to Newsletter</label>
                              </div>
                            </div>
                          </div>

                          <div class="youama-window-box second">
                            <div class="youama-window-subtitle youama-showhideme">
                              <p>Login Datas</p>
                            </div>
                            <div class="youama-window-content">
                              <div class="input-fly youama-showhideme input-email">
                                <label>E-mail address <span>*</span></label>
                                <input type="text" placeholder="E-mail address" class="youama-email" name="youama-email" value="" />
                                <div class="youama-ajaxlogin-error err-email err-noemail err-wrongemail err-emailisexist"></div>
                              </div>
                              <div class="input-fly youama-showhideme input-password">
                                <label>Password <span>*</span></label>
                                <input type="password" placeholder="Password" class="youama-password" name="youama-password" value="" />
                                <div class="youama-ajaxlogin-error err-password err-dirtypassword err-nopassword err-shortpassword err-longpassword"></div>
                              </div>
                              <div class="input-fly youama-showhideme input-passwordsecond">
                                <label for="youama-passwordsecond">Password confirmation <span>*</span></label>
                                <input type="password" placeholder="Password confirmation" id="youama-passwordsecond" name="youama-passwordsecond" value="" />
                                <div class="youama-ajaxlogin-error err-passwordsecond err-nopasswordsecond err-notsamepasswords"></div>
                              </div>
                              <div class="input-fly input-fly-checkbox youama-showhideme">
                                <input type="checkbox" id="youama-licence" name="youama-licence" value="ok" />
                                <label for="youama-licence">I accept the <a href="https://livedemo00.template-help.com/magento_57714/privacy-policy-cookie-restriction-mode/" target="_blank">Terms and Coditions</a></label>
                                <div class="youama-ajaxlogin-error err-nolicence"></div>
                              </div>
                            </div>
                          </div>

                          <div class="youama-window-box last">
                            <div class="youama-window-content box-contents youama-showhideme">
                              <button type="button" class="button btn-reg btn-proceed-checkout btn-checkout youama-ajaxlogin-button">
                                <span>
                                  <span>
                                    Register                                </span>
                                  </span>
                                </button>
                                <p id="y-to-login" class="yoauam-switch-window">
                                  or login                        </p>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>


                        <div class="youama-confirmmsg-window" style="display:none;">
                          <div class="youama-window-outside">
                            <span class="close">×</span><br />
                            <div class="alert alert-success">Account confirmation is required. Please, check your email for the confirmation link.</div>
                          </div>
                        </div>

                        <div class="youama_ajaxlogin-temp-error" style="display:none !important;">
                          <div class="ytmpa-nofirstname">First name is required!</div>
                          <div class="ytmpa-nolastname">Last name is required!</div>
                          <div class="ytmpa-dirtyfirstname">First name is not valid!</div>
                          <div class="ytmpa-dirtylastname">Last name is not valid!</div>

                          <div class="ytmpa-wrongemail">This is not an email address!</div>
                          <div class="ytmpa-noemail">Email address is required!</div>
                          <div class="ytmpa-emailisexist">This email is already registered!</div>

                          <div class="ytmpa-nopassword">Password is required!</div>
                          <div class="ytmpa-dirtypassword">Enter a valid password!</div>
                          <div class="ytmpa-shortpassword">Please enter 6 or more characters!</div>
                          <div class="ytmpa-longpassword">Please enter 16 or less characters!</div>
                          <div class="ytmpa-notsamepasswords">Passwords are not same!</div>
                          <div class="ytmpa-nolicence">Terms and Conditions are required!</div>

                          <div class="ytmpa-wronglogin">Email or Password is wrong!</div>


                        </div>





                        <script type="text/javascript">
        //<![CDATA[
        jQuery(window).load(function(){
          jQuery().youamaAjaxLogin({
            redirection : '0',
            profileUrl : 'https://livedemo00.template-help.com/magento_57714/customer/account/',
            autoShowUp : 'no',
            controllerUrl : 'https://livedemo00.template-help.com/magento_57714/ajaxlogin/ajax/index/'
          });
        });
        //]]>
      </script>

      <div class="std"><div class="clear"></div></div><div class="widget widget-static-block"><div class="banner">
      <div>
        <img src="https://livedemo00.template-help.com/magento_57714/skin/frontend/tm_themes/theme761/images/banner.jpg" alt="" />
        <span class="s-desc">
          <h1>THE BEST<br />
            E-CIGARETTES</h1>
            <p>See our most popular products</p>
            <a href="https://livedemo00.template-help.com/magento_57714/accessories.html">Shop now</a>
          </span>
        </div>
      </div></div>
      <div class="widget widget-new-products">
        <div class="widget-title">
          <h2>New Products</h2>
        </div>
        <div class="widget-products">
          <ul class="products-grid row">
            <li class="item  first col-xs-12 col-sm-4" itemscope itemtype="https://schema.org/product">
              <div class="wrapper-hover">
                <div class="product-image-container">

                  <a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" title="Dragon Knight Mechanical Electronic " class="product-image" itemprop="url">
                    <img id="product-collection-image-2" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/228x228/9df78eab33525d08d6e5fb8d27136e95/d/r/dragon-knight-mechanical-electronic_6_.png" alt="Dragon Knight Mechanical Electronic " width="228" height="228" itemprop="image" />
                  </a>

                </div>

                <div class="product-details">


                  <h2 class="product-name" itemprop="name"><a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" title="Dragon Knight Mechanical Electronic ">Dragon Knight Mechanical Electronic </a></h2>



                  <div class="price-box">

                    <p class="old-price">
                      <span class="price-label">Regular Price:</span>
                      <span class="price" id="old-price-2">
                        $15.00                </span>
                      </p>

                      <p class="special-price">
                        <span class="price-label">Special Price</span>
                        <span class="price" id="product-price-2">
                          $13.00                </span>
                        </p>


                      </div>


                      <div class="wrapper-hover-hiden">
                        <div class="actions">
                          <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html')"><span><span>Add to Cart</span></span></button>
                        </div>
                      </div>
                    </div>
                    <div class="label-product">
                    </div>
                  </div>
                </li>
                <li class="item  col-xs-12 col-sm-4" itemscope itemtype="https://schema.org/product">
                  <div class="wrapper-hover">
                    <div class="product-image-container">

                      <a href="https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html" title="On The Go Starter Kit Menthol " class="product-image" itemprop="url">
                        <img id="product-collection-image-6" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/228x228/9df78eab33525d08d6e5fb8d27136e95/o/n/on-the-go-starter-kit-menthol-_high__06.png" alt="On The Go Starter Kit Menthol " width="228" height="228" itemprop="image" />
                      </a>

                    </div>

                    <div class="product-details">


                      <h2 class="product-name" itemprop="name"><a href="https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html" title="On The Go Starter Kit Menthol ">On The Go Starter Kit Menthol </a></h2>



                      <div class="price-box">
                        <span class="regular-price" id="product-price-6">
                          <span class="price">$18.00</span>                                    </span>

                        </div>


                        <div class="wrapper-hover-hiden">
                          <div class="actions">
                            <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html')"><span><span>Add to Cart</span></span></button>
                          </div>
                        </div>
                      </div>
                      <div class="label-product">
                      </div>
                    </div>
                  </li>
                  <li class="item  last col-xs-12 col-sm-4" itemscope itemtype="https://schema.org/product">
                    <div class="wrapper-hover">
                      <div class="product-image-container">

                        <a href="https://livedemo00.template-help.com/magento_57714/eleaf-istick-20w-wrap-vape-box.html" title="Eleaf iStick 20W Wrap Vape Box" class="product-image" itemprop="url">
                          <img id="product-collection-image-3" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/228x228/9df78eab33525d08d6e5fb8d27136e95/e/l/eleaf-istick-20w-wrap-vape-box_2_.png" alt="Eleaf iStick 20W Wrap Vape Box" width="228" height="228" itemprop="image" />
                        </a>

                      </div>

                      <div class="product-details">


                        <h2 class="product-name" itemprop="name"><a href="https://livedemo00.template-help.com/magento_57714/eleaf-istick-20w-wrap-vape-box.html" title="Eleaf iStick 20W Wrap Vape Box">Eleaf iStick 20W Wrap Vape Box</a></h2>



                        <div class="price-box">

                          <p class="old-price">
                            <span class="price-label">Regular Price:</span>
                            <span class="price" id="old-price-3">
                              $14.00                </span>
                            </p>

                            <p class="special-price">
                              <span class="price-label">Special Price</span>
                              <span class="price" id="product-price-3">
                                $12.00                </span>
                              </p>


                            </div>


                            <div class="wrapper-hover-hiden">
                              <div class="actions">
                                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/3/form_key/b1X20vpkaIpFP25S/')"><span><span>Add to Cart</span></span></button>
                              </div>
                            </div>
                          </div>
                          <div class="label-product">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-left sidebar col-xs-12 col-sm-4">
                <div class="main-col-left"><div class="widget-catalogsale-products-carousel" id="dd73e02cfd0daca86f7ebcee23400f19" >
                  <div class="page-title category-title">
                    <h1>Special products</h1>
                  </div>
                  <ul class="sale-carousel">
                    <li class="swiper-slide" itemscope itemtype="https://schema.org/product">
                      <a class="product-image" href="https://livedemo00.template-help.com/magento_57714/freedom-vape-handheld-personal.html" title="Freedom Vape Handheld Personal" itemprop="url"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/228x/9df78eab33525d08d6e5fb8d27136e95/f/r/freedom-vape-handheld-personal-vaporizer_06.png" alt="Freedom Vape Handheld Personal" itemprop="image" /></a>
                      <div class="product-details">
                        <div class="p-left">
                          <h2 class="product-name" itemprop="name">
                            <a href="https://livedemo00.template-help.com/magento_57714/freedom-vape-handheld-personal.html" title="Freedom Vape Handheld Personal)">
                              Freedom Vape Handheld Personal            </a>
                            </h2>



                            <div class="price-box">

                              <p class="old-price">
                                <span class="price-label">Regular Price:</span>
                                <span class="price" id="old-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                                  $21.00                </span>
                                </p>

                                <p class="special-price">
                                  <span class="price-label">Special Price</span>
                                  <span class="price" id="product-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                                    $18.00                </span>
                                  </p>


                                </div>

                              </div>
                              <div class="p-right">
                                <a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/5/form_key/b1X20vpkaIpFP25S/" class="button"><span><span>Add to Cart</span></span></a>
                              </div>
                            </div>
                          </li>
                          <li class="swiper-slide" itemscope itemtype="https://schema.org/product">
                            <a class="product-image" href="https://livedemo00.template-help.com/magento_57714/electronic-cigarette-cartridge-refills.html" title="Electronic Cigarette Cartridge Refills" itemprop="url"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/228x/9df78eab33525d08d6e5fb8d27136e95/e/l/electronic-cigarette-cartridge-refills-_10-piece-pack_1_.png" alt="Electronic Cigarette Cartridge Refills" itemprop="image" /></a>
                            <div class="product-details">
                              <div class="p-left">
                                <h2 class="product-name" itemprop="name">
                                  <a href="https://livedemo00.template-help.com/magento_57714/electronic-cigarette-cartridge-refills.html" title="Electronic Cigarette Cartridge Refills)">
                                    Electronic Cigarette Cartridge Refills            </a>
                                  </h2>



                                  <div class="price-box">

                                    <p class="old-price">
                                      <span class="price-label">Regular Price:</span>
                                      <span class="price" id="old-price-4-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                                        $25.00                </span>
                                      </p>

                                      <p class="special-price">
                                        <span class="price-label">Special Price</span>
                                        <span class="price" id="product-price-4-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                                          $22.00                </span>
                                        </p>


                                      </div>

                                    </div>
                                    <div class="p-right">
                                      <a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/4/form_key/b1X20vpkaIpFP25S/" class="button"><span><span>Add to Cart</span></span></a>
                                    </div>
                                  </div>
                                </li>
                                <li class="swiper-slide" itemscope itemtype="https://schema.org/product">
                                  <a class="product-image" href="https://livedemo00.template-help.com/magento_57714/eleaf-istick-20w-wrap-vape-box.html" title="Eleaf iStick 20W Wrap Vape Box" itemprop="url"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/228x/9df78eab33525d08d6e5fb8d27136e95/e/l/eleaf-istick-20w-wrap-vape-box_2_.png" alt="Eleaf iStick 20W Wrap Vape Box" itemprop="image" /></a>
                                  <div class="product-details">
                                    <div class="p-left">
                                      <h2 class="product-name" itemprop="name">
                                        <a href="https://livedemo00.template-help.com/magento_57714/eleaf-istick-20w-wrap-vape-box.html" title="Eleaf iStick 20W Wrap Vape Box)">
                                          Eleaf iStick 20W Wrap Vape Box            </a>
                                        </h2>



                                        <div class="price-box">

                                          <p class="old-price">
                                            <span class="price-label">Regular Price:</span>
                                            <span class="price" id="old-price-3-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                                              $14.00                </span>
                                            </p>

                                            <p class="special-price">
                                              <span class="price-label">Special Price</span>
                                              <span class="price" id="product-price-3-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                                                $12.00                </span>
                                              </p>


                                            </div>

                                          </div>
                                          <div class="p-right">
                                            <a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/3/form_key/b1X20vpkaIpFP25S/" class="button"><span><span>Add to Cart</span></span></a>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="swiper-slide" itemscope itemtype="https://schema.org/product">
                                        <a class="product-image" href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" title="Dragon Knight Mechanical Electronic " itemprop="url"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/228x/9df78eab33525d08d6e5fb8d27136e95/d/r/dragon-knight-mechanical-electronic_6_.png" alt="Dragon Knight Mechanical Electronic " itemprop="image" /></a>
                                        <div class="product-details">
                                          <div class="p-left">
                                            <h2 class="product-name" itemprop="name">
                                              <a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" title="Dragon Knight Mechanical Electronic )">
                                                Dragon Knight Mechanical Electronic             </a>
                                              </h2>



                                              <div class="price-box">

                                                <p class="old-price">
                                                  <span class="price-label">Regular Price:</span>
                                                  <span class="price" id="old-price-2-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                                                    $15.00                </span>
                                                  </p>

                                                  <p class="special-price">
                                                    <span class="price-label">Special Price</span>
                                                    <span class="price" id="product-price-2-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                                                      $13.00                </span>
                                                    </p>


                                                  </div>

                                                </div>
                                                <div class="p-right">
                                                  <a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" class="button"><span><span>Add to Cart</span></span></a>
                                                </div>
                                              </div>
                                            </li>
                                            <li class="swiper-slide" itemscope itemtype="https://schema.org/product">
                                              <a class="product-image" href="https://livedemo00.template-help.com/magento_57714/ladys-electronic-vaporizer-variable.html" title="Ladys Electronic Vaporizer Variable" itemprop="url"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/228x/9df78eab33525d08d6e5fb8d27136e95/l/a/ladys-electronic-vaporizer-variable-voltage-vape_6_.png" alt="Ladys Electronic Vaporizer Variable" itemprop="image" /></a>
                                              <div class="product-details">
                                                <div class="p-left">
                                                  <h2 class="product-name" itemprop="name">
                                                    <a href="https://livedemo00.template-help.com/magento_57714/ladys-electronic-vaporizer-variable.html" title="Ladys Electronic Vaporizer Variable)">
                                                      Ladys Electronic Vaporizer Variable           </a>
                                                    </h2>



                                                    <div class="price-box">

                                                      <p class="old-price">
                                                        <span class="price-label">Regular Price:</span>
                                                        <span class="price" id="old-price-26-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                                                          $44.00                </span>
                                                        </p>

                                                        <p class="special-price">
                                                          <span class="price-label">Special Price</span>
                                                          <span class="price" id="product-price-26-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
                                                            $40.00                </span>
                                                          </p>


                                                        </div>

                                                      </div>
                                                      <div class="p-right">
                                                        <a href="https://livedemo00.template-help.com/magento_57714/ladys-electronic-vaporizer-variable.html" class="button"><span><span>Add to Cart</span></span></a>
                                                      </div>
                                                    </div>
                                                  </li>
                                                </ul>
                                              </div>

                                              <div class="blog-bg" data-source-url="skin url='images/blog-bg.jpg">
                                                <div class="widget-latest">
                                                  <div class="widget-title center">
                                                    <h1>Latest Posts</h1>
                                                  </div>
                                                  <ul>
                                                    <li>
                                                      <div class="postWidget">
                                                        <div class="postImage">
                                                          <a href="https://livedemo00.template-help.com/magento_57714/blog/post-3/" ><img src="https://livedemo00.template-help.com/magento_57714/media/wysiwyg/blog-img/post-3.jpg" alt="post-img" /></a>
                                                        </div>
                                                        <div class="post-desc">
                                                          <span class="widget-latest-data">01 October 2015</span>
                                                          <div class="widget-latest-title"><a href="https://livedemo00.template-help.com/magento_57714/blog/post-3/" >Establishing Your Brand on College Campuses</a></div>
                                                          <!--<div class="postContent">short_content</div>-->
                                                          <a href="https://livedemo00.template-help.com/magento_57714/blog/post-3/"class="aw-blog-read-more all-blog">Read more</a>
                                                        </div>

                                                      </div>
                                                    </li>
                                                    <li>
                                                      <div class="postWidget">
                                                        <div class="postImage">
                                                          <a href="https://livedemo00.template-help.com/magento_57714/blog/post-2/" ><img src="https://livedemo00.template-help.com/magento_57714/media/wysiwyg/blog-img/post-2.jpg" alt="post-img" /></a>
                                                        </div>
                                                        <div class="post-desc">
                                                          <span class="widget-latest-data">01 October 2015</span>
                                                          <div class="widget-latest-title"><a href="https://livedemo00.template-help.com/magento_57714/blog/post-2/" >Believe in the Business of Your Dreams</a></div>
                                                          <!--<div class="postContent">short_content</div>-->
                                                          <a href="https://livedemo00.template-help.com/magento_57714/blog/post-2/"class="aw-blog-read-more all-blog">Read more</a>
                                                        </div>

                                                      </div>
                                                    </li>
                                                    <li>
                                                      <div class="postWidget">
                                                        <div class="postImage">
                                                          <a href="https://livedemo00.template-help.com/magento_57714/blog/post-1/" ><img src="https://livedemo00.template-help.com/magento_57714/media/wysiwyg/blog-img/post-1.jpg" alt="post-img" /></a>
                                                        </div>
                                                        <div class="post-desc">
                                                          <span class="widget-latest-data">01 October 2015</span>
                                                          <div class="widget-latest-title"><a href="https://livedemo00.template-help.com/magento_57714/blog/post-1/" >Impact - The Heart of Business</a></div>
                                                          <!--<div class="postContent">short_content</div>-->
                                                          <a href="https://livedemo00.template-help.com/magento_57714/blog/post-1/"class="aw-blog-read-more all-blog">Read more</a>
                                                        </div>

                                                      </div>
                                                    </li>
                                                  </ul>
                                                  <!-- <a href=""class="aw-blog-read-more all-blog"></a> -->
                                                </div>
                                              </div>

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
