<div class="main-container col2-left-layout">
  <div class="container">
    <div class="main">
      <div class="row">
        <%= render 'partials/waterfall' %>
      </div>
      <div class="row" style="margin-bottom: 8%">
        <div class="col-main col-xs-12 col-sm-7 col-sm-oét-1">
         <%= render 'partials/oil' %>
       </div>
       <div class="col-left sidebar col-xs-12 col-sm-4">
        <%= render 'partials/post' %>
      </div>
    </div>
  </div>
</div>
