.categories_index_1 {
  li {
    border: 2px grey;
  }
  .categories_index {
    li:nth-child(even) {
      a {
        color: #333 !important;
      }
    }
    li:nth-child(odd) {
      padding-left: 20px;
      display: none;
      a {
        display: inline-block;
      }
      a:nth-child(odd) {
        color: #f39c12 !important;
      }
      a:nth-child(even) {
        color: #f56954 !important;
      }
    }
  }
}

