.categories_index_1 {
  li {
    border: 2px grey;
  }
  .categories_index {
    li:nth-child(even) {
      a {
        color: #333 !important;
      }
    }
    li:nth-child(odd) {
      padding-left: 20px;
      display: none;
      a {
        display: inline-block;
      }
      a:nth-child(odd) {
        color: #f39c12 !important;
      }
      a:nth-child(even) {
        color: #f56954 !important;
      }
    }
  }
}

.label_checkbox {
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out,color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out,color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out,color 0.15s ease-in-out;
  }
}

.promo {
  .promo_add {
    &:hover {
      cursor: pointer;
    }
  }
}

.preview_each_wrap {
  display: inline-block;
  margin-right: 10px;
}
