<div class="main-container col1-layout">
  <div class="container">
    <div class="main">
      <div class="col-main">
        <div class="padding-s">
          <div class="cart display-single-price">
            <div class="page-title">
              <h1>Shopping Cart</h1>
            </div>
            <ul class="messages">
              <li class="success-msg">
                <ul>
                  <li><span>Dragon Knight Mechanical Electronic  was added to your shopping cart.</span></li>
                </ul>
              </li>
            </ul>
            <div class="theme-block">
              <form action="#" method="post">
                <input name="form_key" type="hidden" value="ggM7utfEzjAlVAvw">
                <table id="shopping-cart-table" class="cart-table data-table">
                  <colgroup>
                    <col width="1">
                    <col width="1">
                    <col width="1">
                    <col width="1">
                    <col width="1">
                    <col width="1">
                  </colgroup>
                <thead>
                  <tr class="first last">
                    <th rowspan="1"><span class="nobr">Product</span></th>
                    <th rowspan="1">&nbsp;</th>
                    <th class="cart-price-head" colspan="1">
                      <span class="nobr">Price</span>
                    </th>
                    <th rowspan="1">Qty</th>
                    <th class="cart-total-head" colspan="1">Subtotal</th>
                    <th rowspan="1">&nbsp;</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr class="first last">
                    <td colspan="50" class="a-right cart-footer-actions last">
                      <button type="button" title="Continue Shopping" class="button btn-continue" onclick="setLocation('http://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html')"><span><span>Continue Shopping</span></span></button>
                    </td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr class="first last odd">
                    <td class="product-cart-image">
                      <a href="http://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html" title="Dragon Knight Mechanical Electronic " class="product-image">
                        <img src="http://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/180x/9df78eab33525d08d6e5fb8d27136e95/d/r/dragon-knight-mechanical-electronic_6_.png" alt="Dragon Knight Mechanical Electronic ">
                      </a>
                      <ul class="cart-links">
                        <li>
                          <a href="http://livedemo00.template-help.com/magento_57714/checkout/cart/configure/id/193/" title="Edit item parameters">Edit</a>
                        </li>
                      </ul>
                    </td>
                    <td class="product-cart-info">
                      <a href="http://livedemo00.template-help.com/magento_57714/checkout/cart/delete/id/193/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC9jaGVja291dC9jYXJ0Lw,,/" title="Remove Item" class="btn-remove btn-remove2">Remove Item</a>
                      <h2 class="product-name">
                        <a href="http://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html">Dragon Knight Mechanical Electronic </a>
                      </h2>
                      <div class="product-cart-sku">
                        <span class="label">SKU:</span> 6464
                      </div>
                      <dl class="item-options">
                        <dt>Additions accessories </dt>
                        <dd>HCigar VT40 Evolv DNA 40 Box Mod</dd>
                        <dt>E-Liquids</dt>
                        <dd>Melon Candy</dd>
                      </dl>
                    </td>
                    <td class="product-cart-price" data-rwd-label="Price" data-rwd-tax-label="Excl. Tax">
                      <span class="cart-price">
                        <span class="price">$37.00</span>
                      </span>
                    </td>
                    <td class="product-cart-actions" data-rwd-label="Qty">
                      <input type="text" pattern="\d*" name="cart[193][qty]" value="1" size="4" data-cart-item-id="6464" title="Qty" class="input-text qty" maxlength="12">
                      <button type="submit" name="update_cart_action" data-cart-item-update="" value="update_qty" title="Update" class="button btn-update"><span><span>Update</span></span>
                      </button>
                    </td>
                    <td class="product-cart-total" data-rwd-label="Subtotal">
                      <span class="cart-price">
                        <span class="price">$37.00</span>
                      </span>
                    </td>
                    <td class="a-center product-cart-remove last">
                      <a href="http://livedemo00.template-help.com/magento_57714/checkout/cart/delete/id/193/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC9jaGVja291dC9jYXJ0Lw,,/" title="Remove Item" class="btn-remove btn-remove2">Remove Item</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
            <div class="cart-totals-wrapper">
              <div class="cart-totals">
                <table id="shopping-cart-totals-table">
                  <colgroup>
                    <col>
                    <col width="1">
                  </colgroup>
                  <tfoot>
                    <tr>
                      <td style="" class="a-right" colspan="1">
                        <strong>Grand Total</strong>
                      </td>
                      <td style="" class="a-right">
                        <strong><span class="price">$37.00</span></strong>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <ul class="checkout-types bottom">
                  <li class="method-checkout-cart-methods-onepage-bottom">
                    <button type="button" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout" data-toggle="modal" data-target="#checkout_modal">
                      <span>
                        <span>Proceed to Checkout</span>
                      </span>
                    </button>
                  </li>
                 <!--  <li class="method-checkout-cart-methods-multishipping">
                    <a href="http://livedemo00.template-help.com/magento_57714/checkout/multishipping/" title="Checkout with Multiple Addresses">Checkout with Multiple Addresses</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="checkout_modal" tabindex="-1" style="padding-right: 15px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" >Checkout</h4>
      </div>
      <div class="modal-body">
        Content here
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
          Đóng
        </button>
        <button type="button" class="btn btn-success">
          Lưu thay đổi
        </button>
      </div>
    </div>
  </div>
</div>
