<dl id="collateral-tabs" class="collateral-tabs">
  <dt class="tab current"><span id="description">Mô tả</span></dt>
  <dd class="tab-container current">
    <div class="tab-content">
      <div class="std">
        <%= item.description %>
      </div>
    </div>
  </dd>
  <dt class="tab"><span id="reviews">Đánh gía</span></dt>
  <dd class="tab-container">
    <div class="tab-content">
      <div class="box-collateral box-reviews" id="customer-reviews">
        <div class="review-heading">
          <h2>
            Customer Reviews <span>1 item(s)</span>
          </h2>
        </div>
        <dl>
          <dt>
            <a href="https://livedemo00.template-help.com/magento_57714/review/product/view/id/16/">
            Good</a>
          </dt>
          <dd>
            Excellent
            <table class="ratings-table ratings">
              <colgroup>
                <col class="review-label">
                <col class="review-value">
              </colgroup>
              <tbody>
                <tr>
                  <th>Quality</th>
                  <td>
                    <div class="rating-box stars">
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <div class="rating" style="width:80%;">
                        <div class="mask">
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Price</th>
                  <td>
                    <div class="rating-box stars">
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <div class="rating" style="width:80%;">
                        <div class="mask">
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Value</th>
                  <td>
                    <div class="rating-box stars">
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <div class="rating" style="width:80%;">
                        <div class="mask">
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <span class="review-meta">Review by Anny/(Posted on 10/31/2015)</span>
          </dd>
        </dl>
        <a class="button review-button" href="https://livedemo00.template-help.com/magento_57714/review/product/list/id/1/#review-form"><span><span>Add Your Review</span></span></a>
      </div>
    </div>
  </dd>
  <dt class="tab last"><span id="catalog.product.video">Video</span></dt>
  <dd class="tab-container last">
    <div class="tab-content">
      <div class="video-box box-collateral">
        <h2>Video</h2>
        <div class="box-collateral-content">
          <div class="video">
            <% unless item.video.blank? %>
              <iframe src="<%= item.video %>" id="video-frame" allowfullscreen="" frameborder="0"></iframe>
            <% else %>
              Không có
            <% end %>
         </div>
       </div>
     </div>
   </div>
 </dd>
</dl>
