 <div class="product-name">
  <h1>CF Aspire Sub Ohm Battery</h1>
</div>
<div class="more-views">
  <div class="bx-wrapper" style="max-width: 100px; margin: 0px auto;">
    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 660px;">
      <ul class="product-image-thumbs more-views-carousel" data-imgmode="large-image" style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
        <li style="float: none; list-style: none; position: relative; width: 100px; margin-bottom: 12px;">
          <a class="thumb-link active" href="#" title="" data-image-index="0">
            <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/90x/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_02.png" alt="">
          </a>
        </li>
        <li style="float: none; list-style: none; position: relative; width: 100px; margin-bottom: 12px;">
          <a class="thumb-link" href="#" title="" data-image-index="1">
            <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/90x/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_01.png" alt="">
          </a>
        </li>
        <li style="float: none; list-style: none; position: relative; width: 100px; margin-bottom: 12px;">
          <a class="thumb-link" href="#" title="" data-image-index="2">
            <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/90x/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_04.png" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="bx-controls bx-has-controls-direction">
      <div class="bx-controls-direction">
        <a class="bx-prev disabled" href=""></a>
        <a class="bx-next disabled" href=""></a>
      </div>
    </div>
  </div>
</div>
<div class="product-image product-image-zoom zoom-available">
  <div class="product-image-gallery">
    <img id="image-main" class="gallery-image visible" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_04.png" alt="CF Aspire Sub Ohm Battery" title="CF Aspire Sub Ohm Battery" itemprop="image">
    <img id="image-0" class="gallery-image" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_02.png" data-zoom-image="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_02.png" alt="">
    <img id="image-1" class="gallery-image" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_01.png" data-zoom-image="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_01.png" alt="">
  </div>
</div>
