<dl id="collateral-tabs" class="collateral-tabs">
  <dt class="tab current"><span id="description">Description</span></dt>
  <dd class="tab-container current">
    <div class="tab-content"><h2>Details</h2>
      <div class="std">
        20 years ago our time was seen far more developed than it is actually now: remember the moment in ‘Back to the Future’ ’when Marty McFly came to the 2015? Flying boards, dehydrated pizza and clothing which adjusts to your size by itself. These things never turned out to happen (not yet, hopefully), but there’s one thing which probably could get Marty interested - electronic smoking.
        Not many people know that several prototypes of electronic cigarette were invented before eCig rolled out. Actually, back in 1965 Herbert A. Gilbert invented a smokeless non-tobacco cigarette, but it was never successfully marketed.
      </div>
    </div>
  </dd>
  <dt class="tab"><span id="additional">Additional Information</span></dt>
  <dd class="tab-container">
    <div class="tab-content">
      <h2>Additional Information</h2>
      <table class="data-table" id="product-attribute-specs-table">
        <colgroup><col width="25%">
          <col>
        </colgroup>
        <tbody>
          <tr class="first odd">
            <th class="label">Brand</th>
            <td class="data last">CF</td>
          </tr>
          <tr class="even">
            <th class="label">Manufacturer</th>
            <td class="data last">USA</td>
          </tr>
          <tr class="odd">
            <th class="label">Features </th>
            <td class="data last">Auto-protect function to prevent overcharging; Manual on/off feature for child safety; Good vapor volume</td>
          </tr>
          <tr class="even">
            <th class="label">Battery capacity</th>
            <td class="data last">650 mAh </td>
          </tr>
          <tr class="odd">
            <th class="label">Variable voltage</th>
            <td class="data last">6.0W-18.0W</td>
          </tr>
          <tr class="even">
            <th class="label">Waterproof</th>
            <td class="data last">Yes</td>
          </tr>
          <tr class="odd">
            <th class="label">Material</th>
            <td class="data last">plastic</td>
          </tr>
          <tr class="even">
            <th class="label">Removable Drip Tip</th>
            <td class="data last">Yes</td>
          </tr>
          <tr class="odd">
            <th class="label">LED tip</th>
            <td class="data last">No</td>
          </tr>
          <tr class="even">
            <th class="label">Minimum Resistance</th>
            <td class="data last">0.6 ohm</td>
          </tr>
          <tr class="odd">
            <th class="label">Ecolabel</th>
            <td class="data last">Yes</td>
          </tr>
          <tr class="last even">
            <th class="label">Capacity</th>
            <td class="data last">1.5ml</td>
          </tr>
        </tbody>
      </table>
      <script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
    </div>
  </dd>
  <dt class="tab"><span id="reviews">Reviews</span></dt>
  <dd class="tab-container">
    <div class="tab-content">
      <div class="box-collateral box-reviews" id="customer-reviews">
        <div class="review-heading">
          <h2>
            Customer Reviews <span>1 item(s)</span>
          </h2>
        </div>
        <dl>
          <dt>
            <a href="https://livedemo00.template-help.com/magento_57714/review/product/view/id/16/">
            Good</a>
          </dt>
          <dd>
            Excellent
            <table class="ratings-table ratings">
              <colgroup>
                <col class="review-label">
                <col class="review-value">
              </colgroup>
              <tbody>
                <tr>
                  <th>Quality</th>
                  <td>
                    <div class="rating-box stars">
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <div class="rating" style="width:80%;">
                        <div class="mask">
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Price</th>
                  <td>
                    <div class="rating-box stars">
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <div class="rating" style="width:80%;">
                        <div class="mask">
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Value</th>
                  <td>
                    <div class="rating-box stars">
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <i class="review-icon"></i>
                      <div class="rating" style="width:80%;">
                        <div class="mask">
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                          <i class="review-icon"></i>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <span class="review-meta">Review by Anny/(Posted on 10/31/2015)</span>
          </dd>
        </dl>
        <a class="button review-button" href="https://livedemo00.template-help.com/magento_57714/review/product/list/id/1/#review-form"><span><span>Add Your Review</span></span></a>
      </div>
    </div>
  </dd>
  <dt class="tab"><span id="product_tag_list">Tags</span></dt>
  <dd class="tab-container">
    <div class="tab-content">
      <div class="box-collateral box-tags">
        <h2>Product Tags</h2>
        <form id="addTagForm" action="https://livedemo00.template-help.com/magento_57714/tag/index/save/product/1/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC9jZi1hc3BpcmUtc3ViLW9obS1iYXR0ZXJ5Lmh0bWw,/" method="get">
          <div class="form-add">
            <label for="productTagName">Add Your Tags:</label>
            <div class="input-box">
              <input type="text" class="input-text required-entry" name="productTagName" id="productTagName">
            </div>
            <button type="button" title="Add Tags" class="button" onclick="submitTagForm()">
              <span>
                <span>Add Tags</span>
              </span>
            </button>
          </div>
        </form>
        <p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>
      </div>
    </div>
  </dd>
  <dt class="tab last"><span id="catalog.product.video">Video</span></dt>
  <dd class="tab-container last">
    <div class="tab-content">

      <div class="video-box box-collateral">
        <h2>Video</h2>
        <div class="box-collateral-content">
          <div class="video">
           <iframe src="https://www.youtube.com/embed/q0SDGLjRH2k?wmode=opaque" id="video-frame" allowfullscreen="" frameborder="0"></iframe>
         </div>
       </div>
     </div>
   </div>
 </dd>
</dl>
