<div class="breadcrumbs">
    <div class="container">
      <ul>
        <li class="home">
          <a href="<%= root_url %>" title="Trở về trang chủ">Trang chủ</a>
          <span class="fa fa-angle-right"></span>
        </li>
        <li class="product">
          <strong><%= item.name %></strong>
        </li>
      </ul>
    </div>
  </div>
