 <li class="swiper-slide" itemscope itemtype="https://schema.org/product" style="height: 400px">
  <a class="product-image" href="https://livedemo00.template-help.com/magento_57714/freedom-vape-handheld-personal.html" title="Freedom Vape Handheld Personal" itemprop="url">
    <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/228x/9df78eab33525d08d6e5fb8d27136e95/f/r/freedom-vape-handheld-personal-vaporizer_06.png" alt="Freedom Vape Handheld Personal" itemprop="image" />
  </a>
  <div class="product-details">
    <div class="p-left">
      <h2 class="product-name" itemprop="name" style="border-bottom: none !important; padding-bottom: 10px !important; margin-bottom: 0px !important">
        <a href="https://livedemo00.template-help.com/magento_57714/freedom-vape-handheld-personal.html" title="Freedom Vape Handheld Personal)">
          Freedom Vape Handheld Personal
        </a>
      </h2>
      <div class="price-box">
        <p class="old-price">
          <span class="price-label">Regular Price:</span>
          <span class="price" id="old-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
          $21.00 </span>
        </p>

        <p class="special-price">
          <span class="price-label">Special Price</span>
          <span class="price" id="product-price-5-widget-catalogsale-dd73e02cfd0daca86f7ebcee23400f19">
          $18.00</span>
        </p>
      </div>
    </div>
    <div class="p-right">
      <a href="https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC8,/product/5/form_key/b1X20vpkaIpFP25S/" class="button"><span><span>Add to Cart</span></span></a>
    </div>
  </div>
</li>
