<div class="main-container col1-layout">
  <%= render "item_crumbs", item: @item %>
            <div class="container">
                <div class="main">
                    <div class="col-main">
                        <div class="padding-s">












        <div class="youama_ajaxlogin-temp-error" style="display:none !important;">
        <div class="ytmpa-nofirstname">First name is required!</div>
        <div class="ytmpa-nolastname">Last name is required!</div>
        <div class="ytmpa-dirtyfirstname">First name is not valid!</div>
        <div class="ytmpa-dirtylastname">Last name is not valid!</div>

        <div class="ytmpa-wrongemail">This is not an email address!</div>
        <div class="ytmpa-noemail">Email address is required!</div>
        <div class="ytmpa-emailisexist">This email is already registered!</div>

        <div class="ytmpa-nopassword">Password is required!</div>
        <div class="ytmpa-dirtypassword">Enter a valid password!</div>
        <div class="ytmpa-shortpassword">Please enter 6 or more characters!</div>
        <div class="ytmpa-longpassword">Please enter 16 or less characters!</div>
        <div class="ytmpa-notsamepasswords">Passwords are not same!</div>
        <div class="ytmpa-nolicence">Terms and Conditions are required!</div>

        <div class="ytmpa-wronglogin">Email or Password is wrong!</div>


    </div>
<div class="product-view large-image-type" itemscope="" itemtype="https://schema.org/Offer">
    <div class="product-essential row">
        <form action="https://livedemo00.template-help.com/magento_57714/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC9jZi1hc3BpcmUtc3ViLW9obS1iYXR0ZXJ5Lmh0bWw,/product/1/form_key/ggM7utfEzjAlVAvw/" method="post" id="product_addtocart_form" enctype="multipart/form-data">
            <input name="form_key" type="hidden" value="ggM7utfEzjAlVAvw">
            <div class="no-display">
                <input type="hidden" name="product" value="1">
                <input type="hidden" name="related_product" id="related-products-field" value="">
            </div>

            <div class="product-img-box col-xs-12  col-lg-8 col-sm-6">
                <div class="product-name">
                    <h1>CF Aspire Sub Ohm Battery</h1>
                </div>


        <div class="more-views">
        <div class="bx-wrapper" style="max-width: 100px; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 660px;"><ul class="product-image-thumbs more-views-carousel" data-imgmode="large-image" style="width: auto; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                <li style="float: none; list-style: none; position: relative; width: 100px; margin-bottom: 12px;">
                <a class="thumb-link active" href="#" title="" data-image-index="0">
                    <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/90x/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_02.png" alt="">
                </a>
            </li>
                                            <li style="float: none; list-style: none; position: relative; width: 100px; margin-bottom: 12px;">
                <a class="thumb-link" href="#" title="" data-image-index="1">
                    <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/90x/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_01.png" alt="">
                </a>
            </li>
                                            <li style="float: none; list-style: none; position: relative; width: 100px; margin-bottom: 12px;">
                <a class="thumb-link" href="#" title="" data-image-index="2">
                    <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/90x/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_04.png" alt="">
                </a>
            </li>
                                            <li style="float: none; list-style: none; position: relative; width: 100px; margin-bottom: 12px;">
                <a class="thumb-link" href="#" title="" data-image-index="3">
                    <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/90x/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_03.png" alt="">
                </a>
            </li>
                                            <li style="float: none; list-style: none; position: relative; width: 100px; margin-bottom: 12px;">
                <a class="thumb-link" href="#" title="" data-image-index="4">
                    <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/90x/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_05.png" alt="">
                </a>
            </li>
                                            <li style="float: none; list-style: none; position: relative; width: 100px; margin-bottom: 12px;">
                <a class="thumb-link" href="#" title="" data-image-index="5">
                    <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/90x/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_06.png" alt="">
                </a>
            </li>
                            </ul></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev disabled" href=""></a><a class="bx-next disabled" href=""></a></div></div></div>
    </div>


<div class="product-image product-image-zoom zoom-available">
    <div class="product-image-gallery">
        <img id="image-main" class="gallery-image visible" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_04.png" alt="CF Aspire Sub Ohm Battery" title="CF Aspire Sub Ohm Battery" itemprop="image">

                                <img id="image-0" class="gallery-image" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_02.png" data-zoom-image="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_02.png" alt="">
                                            <img id="image-1" class="gallery-image" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_01.png" data-zoom-image="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_01.png" alt="">
                                            <img id="image-2" class="gallery-image" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_04.png" data-zoom-image="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_04.png" alt="">
                                            <img id="image-3" class="gallery-image" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_03.png" data-zoom-image="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_03.png" alt="">
                                            <img id="image-4" class="gallery-image" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_05.png" data-zoom-image="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_05.png" alt="">
                                            <img id="image-5" class="gallery-image" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_06.png" data-zoom-image="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/c/f/cf-aspire-sub-ohm-battery_06.png" alt="">
                        </div>
</div>




            </div>

      <div class="col-xs-12 col-lg-4 col-sm-6">
              <div class="product-shop">

                    <!-- center mode -->
                                        <!-- /center mode -->

                <div class="additional-info">
                  <div class="product-sku">Product Code: <span class="sku-number">5435</span></div>

    <p class="availability-only">
        <span title="Only 4234 left">Only <strong>4234</strong> left</span>
    </p>
                              <p class="availability in-stock" itemprop="availability">
            <span class="label">Availability:</span>
            <span class="value">In stock</span>
        </p>
                            <div class="clear"></div>
                </div>
                  <div class="product-name secondary" itemprop="name">
                      <span class="h1">CF Aspire Sub Ohm Battery</span>
                  </div>

                    <div class="extra-info">
                            <div class="ratings">
                    <div class="rating-box stars">
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <div class="rating" style="width:80%">
                    <div class="mask">
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                    </div>
                </div>
            </div>
            <span class="separator temp">|</span>
                <p class="rating-links">
            <a href="https://livedemo00.template-help.com/magento_57714/cf-aspire-sub-ohm-battery.html#customer-reviews" class="moveToTab" onclick="">1 Review(s)</a>
            <span class="separator">|</span>
            <a href="https://livedemo00.template-help.com/magento_57714/review/product/list/id/1/category/7/#review-form">Add Your Review</a>
        </p>
    </div>


<script type="text/javascript">

    jQuery(document).ready(function(){

        jQuery('a.moveToTab').click(function(e){
            moveToTab();
        })
    });

    function moveToTab(){
        jQuery('dt, dd', '#collateral-tabs').each(function(){
            jQuery(this).removeClass('current');
        });
        jQuery('.product-collateral .toggle-tabs li').each(function(){
            jQuery(this).removeClass('current');
            jQuery('#reviews', this).parents('li').click();
        })
        jQuery('html, body').animate({
            scrollTop: jQuery('.product-collateral').offset().top - 80}, 'fast'
        );
    }
</script>                    </div>

                                      <div class="price-info" itemprop="price">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-1">
                                            <span class="price">$21.00</span>                                    </span>

        </div>


                  </div>


                    <div class="clear"></div>


                                        <div class="product-options" id="product-options-wrapper">
    <script type="text/javascript">
//<![CDATA[
var DateOption = Class.create({

    getDaysInMonth: function(month, year)
    {
        var curDate = new Date();
        if (!month) {
            month = curDate.getMonth();
        }
        if (2 == month && !year) { // leap year assumption for unknown year
            return 29;
        }
        if (!year) {
            year = curDate.getFullYear();
        }
        return 32 - new Date(year, month - 1, 32).getDate();
    },

    reloadMonth: function(event)
    {
        var selectEl = event.findElement();
        var idParts = selectEl.id.split("_");
        if (idParts.length != 3) {
            return false;
        }
        var optionIdPrefix = idParts[0] + "_" + idParts[1];
        var month = parseInt($(optionIdPrefix + "_month").value);
        var year = parseInt($(optionIdPrefix + "_year").value);
        var dayEl = $(optionIdPrefix + "_day");

        var days = this.getDaysInMonth(month, year);

        //remove days
        for (var i = dayEl.options.length - 1; i >= 0; i--) {
            if (dayEl.options[i].value > days) {
                dayEl.remove(dayEl.options[i].index);
            }
        }

        // add days
        var lastDay = parseInt(dayEl.options[dayEl.options.length-1].value);
        for (i = lastDay + 1; i <= days; i++) {
            this.addOption(dayEl, i, i);
        }
    },

    addOption: function(select, text, value)
    {
        var option = document.createElement('OPTION');
        option.value = value;
        option.text = text;

        if (select.options.add) {
            select.options.add(option);
        } else {
            select.appendChild(option);
        }
    }
});
dateOption = new DateOption();
//]]>
</script>

    <script type="text/javascript">
    //<![CDATA[
    var optionFileUpload = {
        productForm : $('product_addtocart_form'),
        formAction : '',
        formElements : {},
        upload : function(element){
            this.formElements = this.productForm.select('input', 'select', 'textarea', 'button');
            this.removeRequire(element.readAttribute('id').sub('option_', ''));

            template = '<iframe id="upload_target" name="upload_target" style="width:0; height:0; border:0;"><\/iframe>';

            Element.insert($('option_'+element.readAttribute('id').sub('option_', '')+'_uploaded_file'), {after: template});

            this.formAction = this.productForm.action;

            var baseUrl = 'https://livedemo00.template-help.com/magento_57714/catalog/product/upload/';
            var urlExt = 'option_id/'+element.readAttribute('id').sub('option_', '');

            this.productForm.action = parseSidUrl(baseUrl, urlExt);
            this.productForm.target = 'upload_target';
            this.productForm.submit();
            this.productForm.target = '';
            this.productForm.action = this.formAction;
        },
        removeRequire : function(skipElementId){
            for(var i=0; i<this.formElements.length; i++){
                if (this.formElements[i].readAttribute('id') != 'option_'+skipElementId+'_file' && this.formElements[i].type != 'button') {
                    this.formElements[i].disabled='disabled';
                }
            }
        },
        addRequire : function(skipElementId){
            for(var i=0; i<this.formElements.length; i++){
                if (this.formElements[i].readAttribute('name') != 'options_'+skipElementId+'_file' && this.formElements[i].type != 'button') {
                    this.formElements[i].disabled='';
                }
            }
        },
        uploadCallback : function(data){
            this.addRequire(data.optionId);
            $('upload_target').remove();

            if (data.error) {

            } else {
                $('option_'+data.optionId+'_uploaded_file').value = data.fileName;
                $('option_'+data.optionId+'_file').value = '';
                $('option_'+data.optionId+'_file').hide();
                $('option_'+data.optionId+'').hide();
                template = '<div id="option_'+data.optionId+'_file_box"><a href="#"><img src="var/options/'+data.fileName+'" alt=""><\/a><a href="#" onclick="optionFileUpload.removeFile('+data.optionId+')" title="Remove file" \/>Remove file<\/a>';

                Element.insert($('option_'+data.optionId+'_uploaded_file'), {after: template});
            }
        },
        removeFile : function(optionId)
        {
            $('option_'+optionId+'_uploaded_file').value= '';
            $('option_'+optionId+'_file').show();
            $('option_'+optionId+'').show();

            $('option_'+optionId+'_file_box').remove();
        }
    }
    var optionTextCounter = {
        count : function(field,cntfield,maxlimit){
            if (field.value.length > maxlimit){
                field.value = field.value.substring(0, maxlimit);
            } else {
                cntfield.innerHTML = maxlimit - field.value.length;
            }
        }
    }

    Product.Options = Class.create();
    Product.Options.prototype = {
        initialize : function(config) {
            this.config = config;
            this.reloadPrice();
            document.observe("dom:loaded", this.reloadPrice.bind(this));
        },
        reloadPrice : function() {
            var config = this.config;
            var skipIds = [];
            $$('body .product-custom-option').each(function(element){
                var optionId = 0;
                element.name.sub(/[0-9]+/, function(match){
                    optionId = parseInt(match[0], 10);
                });
                if (config[optionId]) {
                    var configOptions = config[optionId];
                    var curConfig = {price: 0};
                    if (element.type == 'checkbox' || element.type == 'radio') {
                        if (element.checked) {
                            if (typeof configOptions[element.getValue()] != 'undefined') {
                                curConfig = configOptions[element.getValue()];
                            }
                        }
                    } else if(element.hasClassName('datetime-picker') && !skipIds.include(optionId)) {
                        dateSelected = true;
                        $$('.product-custom-option[id^="options_' + optionId + '"]').each(function(dt){
                            if (dt.getValue() == '') {
                                dateSelected = false;
                            }
                        });
                        if (dateSelected) {
                            curConfig = configOptions;
                            skipIds[optionId] = optionId;
                        }
                    } else if(element.type == 'select-one' || element.type == 'select-multiple') {
                        if ('options' in element) {
                            $A(element.options).each(function(selectOption){
                                if ('selected' in selectOption && selectOption.selected) {
                                    if (typeof(configOptions[selectOption.value]) != 'undefined') {
                                        curConfig = configOptions[selectOption.value];
                                    }
                                }
                            });
                        }
                    } else {
                        if (element.getValue().strip() != '') {
                            curConfig = configOptions;
                        }
                    }
                    if(element.type == 'select-multiple' && ('options' in element)) {
                        $A(element.options).each(function(selectOption) {
                            if (('selected' in selectOption) && typeof(configOptions[selectOption.value]) != 'undefined') {
                                if (selectOption.selected) {
                                    curConfig = configOptions[selectOption.value];
                                } else {
                                    curConfig = {price: 0};
                                }
                                optionsPrice.addCustomPrices(optionId + '-' + selectOption.value, curConfig);
                                optionsPrice.reload();
                            }
                        });
                    } else {
                        optionsPrice.addCustomPrices(element.id || optionId, curConfig);
                        optionsPrice.reload();
                    }
                }
            });
        }
    }
    function validateOptionsCallback(elmId, result) {
        var container = $(elmId).up('ul.options-list');
        if (result == 'failed') {
            container.removeClassName('validation-passed');
            container.addClassName('validation-failed');
        } else {
            container.removeClassName('validation-failed');
            container.addClassName('validation-passed');
        }
    }
    var opConfig = new Product.Options({"6":{"12":{"price":4,"oldPrice":4,"priceValue":"4.0000","type":"fixed","excludeTax":4,"includeTax":4},"13":{"price":9,"oldPrice":9,"priceValue":"9.0000","type":"fixed","excludeTax":9,"includeTax":9}},"5":{"11":{"price":12,"oldPrice":12,"priceValue":"12.0000","type":"fixed","excludeTax":12,"includeTax":12},"10":{"price":5,"oldPrice":5,"priceValue":"5.0000","type":"fixed","excludeTax":5,"includeTax":5}}});
    //]]>
    </script>
    <dl class="last">

<dt><label class="required"><em>*</em>Additions accessories</label></dt>
<dd>
    <div class="input-box">
        <div class="dropdown"><span class="old"><select name="options[6]" id="select_6" class="required-entry product-custom-option" title="" onchange="opConfig.reloadPrice()"><option value="">-- Please Select --</option><option value="12" price="4">Innokin iSub Tank +$4.00</option><option value="13" price="9">VaporFi Orbit Mouthpiece Cover (5-pack) +$9.00</option></select></span><span class="selected">-- Please Select --</span><span class="carat"></span><div><ul><li class="active">-- Please Select --</li><li>Innokin iSub Tank +$4.00</li><li>VaporFi Orbit Mouthpiece Cover (5-pack) +$9.00</li></ul></div></div>                                </div>
</dd>

<dt><label class="required"><em>*</em>E-Liquids</label></dt>
<dd class="last">
    <div class="input-box">
        <div class="dropdown"><span class="old"><select name="options[5]" id="select_5" class="required-entry product-custom-option" title="" onchange="opConfig.reloadPrice()"><option value="">-- Please Select --</option><option value="11" price="12">tobacco flavors +$12.00</option><option value="10" price="5">Melon Candy  +$5.00</option></select></span><span class="selected">-- Please Select --</span><span class="carat"></span><div><ul><li class="active">-- Please Select --</li><li>tobacco flavors +$12.00</li><li>Melon Candy  +$5.00</li></ul></div></div>                                </div>
</dd>
        </dl>

<script type="text/javascript">
//<![CDATA[
enUS = {"m":{"wide":["January","February","March","April","May","June","July","August","September","October","November","December"],"abbr":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]}}; // en_US locale reference
Calendar._DN = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]; // full day names
Calendar._SDN = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]; // short day names
Calendar._FD = 0; // First day of the week. "0" means display Sunday first, "1" means display Monday first, etc.
Calendar._MN = ["January","February","March","April","May","June","July","August","September","October","November","December"]; // full month names
Calendar._SMN = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]; // short month names
Calendar._am = "AM"; // am/pm
Calendar._pm = "PM";

// tooltips
Calendar._TT = {};
Calendar._TT["INFO"] = 'About the calendar';

Calendar._TT["ABOUT"] =
'DHTML Date/Time Selector\n' +
"(c) dynarch.com 2002-2005 / Author: Mihai Bazon\n" +
'For latest version visit: https://www.dynarch.com/projects/calendar/\n' +
'Distributed under GNU LGPL. See https://gnu.org/licenses/lgpl.html for details.' +
'\n\n' +
'Date selection:\n' +
'- Use the \xab, \xbb buttons to select year\n' +
'- Use the \u2039 buttons to select month\n' +
'- Hold mouse button on any of the above buttons for faster selection.';
Calendar._TT["ABOUT_TIME"] = '\n\n' +
'Time selection:\n' +
'- Click on any of the time parts to increase it\n' +
'- or Shift-click to decrease it\n' +
'- or click and drag for faster selection.';

Calendar._TT["PREV_YEAR"] = 'Prev. year (hold for menu)';
Calendar._TT["PREV_MONTH"] = 'Prev. month (hold for menu)';
Calendar._TT["GO_TODAY"] = 'Go Today';
Calendar._TT["NEXT_MONTH"] = 'Next month (hold for menu)';
Calendar._TT["NEXT_YEAR"] = 'Next year (hold for menu)';
Calendar._TT["SEL_DATE"] = 'Select date';
Calendar._TT["DRAG_TO_MOVE"] = 'Drag to move';
Calendar._TT["PART_TODAY"] = ' (' + "today" + ')';

// the following is to inform that "%s" is to be the first day of week
Calendar._TT["DAY_FIRST"] = 'Display %s first';

// This may be locale-dependent. It specifies the week-end days, as an array
// of comma-separated numbers. The numbers are from 0 to 6: 0 means Sunday, 1
// means Monday, etc.
Calendar._TT["WEEKEND"] = "0,6";

Calendar._TT["CLOSE"] = 'Close';
Calendar._TT["TODAY"] = "today";
Calendar._TT["TIME_PART"] = '(Shift-)Click or drag to change value';

// date formats
Calendar._TT["DEF_DATE_FORMAT"] = "%b %e, %Y";
Calendar._TT["TT_DATE_FORMAT"] = "%B %e, %Y";

Calendar._TT["WK"] = "Week";
Calendar._TT["TIME"] = 'Time:';
//]]>
</script>
            <p class="required">* Required Fields</p>
    </div>
<script type="text/javascript">decorateGeneric($$('#product-options-wrapper dl'), ['last']);</script>
<div class="product-options-bottom">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-1_clone">
                                            <span class="price">$21.00</span>                                    </span>

        </div>

    <div class="add-to-cart">
                <div class="qty-wrapper">
            <label for="qty">Qty:</label>
            <input type="text" pattern="\d*" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty">
        </div>
                <div class="add-to-cart-buttons">
            <button type="button" title="Add to Cart" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span>Add to Cart</span></span></button>
                    </div>
    </div>


<ul class="add-to-links">
    <li><a href="https://livedemo00.template-help.com/magento_57714/wishlist/index/add/product/1/form_key/ggM7utfEzjAlVAvw/" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist">Add to Wishlist</a></li>
    <li><a href="https://livedemo00.template-help.com/magento_57714/catalog/product_compare/add/product/1/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC9jZi1hc3BpcmUtc3ViLW9obS1iYXR0ZXJ5Lmh0bWw,/form_key/ggM7utfEzjAlVAvw/" class="link-compare">Add to Compare</a></li>

</ul>

</div>

              </div>

              <div class="add-to-cart-wrapper">


              </div>

                <!-- Check whether the plugin is enabled -->

<!-- AddThis Button BEGIN -->

<!-- AddThis API Config -->

<script type="text/javascript">
var addthis_product = 'mag-1.0.1';
var addthis_config  = {
pubid : 'unknown'

}
</script>
<!-- AddThis API Config END -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_facebook addthis_button_preferred_1 at300b" title="Facebook" href="#"><span class="at-icon-wrapper" style="background-color: rgb(59, 89, 152); line-height: 32px; height: 32px; width: 32px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-2" title="Facebook" alt="Facebook" class="at-icon at-icon-facebook" style="width: 32px; height: 32px;"><title id="at-svg-facebook-2">Facebook</title><g><path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path></g></svg></span></a>
<a class="addthis_button_twitter addthis_button_preferred_2 at300b" title="Twitter" href="#"><span class="at-icon-wrapper" style="background-color: rgb(29, 161, 242); line-height: 32px; height: 32px; width: 32px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-3" title="Twitter" alt="Twitter" class="at-icon at-icon-twitter" style="width: 32px; height: 32px;"><title id="at-svg-twitter-3">Twitter</title><g><path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path></g></svg></span></a>
<a class="addthis_button_print addthis_button_preferred_3 at300b" title="Print" href="#"><span class="at-icon-wrapper" style="background-color: rgb(115, 138, 141); line-height: 32px; height: 32px; width: 32px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-print-4" title="Print" alt="Print" class="at-icon at-icon-print" style="width: 32px; height: 32px;"><title id="at-svg-print-4">Print</title><g><path d="M24.67 10.62h-2.86V7.49H10.82v3.12H7.95c-.5 0-.9.4-.9.9v7.66h3.77v1.31L15 24.66h6.81v-5.44h3.77v-7.7c-.01-.5-.41-.9-.91-.9zM11.88 8.56h8.86v2.06h-8.86V8.56zm10.98 9.18h-1.05v-2.1h-1.06v7.96H16.4c-1.58 0-.82-3.74-.82-3.74s-3.65.89-3.69-.78v-3.43h-1.06v2.06H9.77v-3.58h13.09v3.61zm.75-4.91c-.4 0-.72-.32-.72-.72s.32-.72.72-.72c.4 0 .72.32.72.72s-.32.72-.72.72zm-4.12 2.96h-6.1v1.06h6.1v-1.06zm-6.11 3.15h6.1v-1.06h-6.1v1.06z"></path></g></svg></span></a>
<a class="addthis_button_email addthis_button_preferred_4 at300b" target="_blank" title="Email" href="#"><span class="at-icon-wrapper" style="background-color: rgb(132, 132, 132); line-height: 32px; height: 32px; width: 32px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-email-5" title="Email" alt="Email" class="at-icon at-icon-email" style="width: 32px; height: 32px;"><title id="at-svg-email-5">Email</title><g><g fill-rule="evenodd"></g><path d="M27 22.757c0 1.24-.988 2.243-2.19 2.243H7.19C5.98 25 5 23.994 5 22.757V13.67c0-.556.39-.773.855-.496l8.78 5.238c.782.467 1.95.467 2.73 0l8.78-5.238c.472-.28.855-.063.855.495v9.087z"></path><path d="M27 9.243C27 8.006 26.02 7 24.81 7H7.19C5.988 7 5 8.004 5 9.243v.465c0 .554.385 1.232.857 1.514l9.61 5.733c.267.16.8.16 1.067 0l9.61-5.733c.473-.283.856-.96.856-1.514v-.465z"></path></g></svg></span></a>
<a class="addthis_button_compact at300m" href="#"><span class="at-icon-wrapper" style="background-color: rgb(255, 101, 80); line-height: 32px; height: 32px; width: 32px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-addthis-1" title="More" alt="More" class="at-icon at-icon-addthis" style="width: 32px; height: 32px;"><title id="at-svg-addthis-1">Addthis</title><g><path d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path></g></svg></span></a>
<a class="addthis_counter addthis_bubble_style" href="#" style="display: inline-block;"><a class="addthis_button_expanded" target="_blank" title="More" href="#">0</a><a class="atc_s addthis_button_compact">Share<span></span></a></a>
<div class="atclear"></div></div>
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js"></script>
<!-- AddThis Button END -->
<style>
#at3win #at3winheader h3 {
  text-align:left !important;
}
</style>
              <div class="clear"></div>
                                                        </div>
        </form>
        <script type="text/javascript">
        //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;

                    if (url) {
                       form.action = url;
                    }
                    var e = null;
                    try {
                        this.form.submit();
                    } catch (e) {
                    }
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }

                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    // Remove custom datetime validators
                    for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                            delete Validation.methods[methodName];
                        }
                    }

                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);
        //]]>
        </script>
    </div>

            <div class="product-collateral toggle-content tabs">
            <ul class="toggle-tabs"><li class="current"><span id="description">Description</span></li><li><span id="additional">Additional Information</span></li><li><span id="reviews">Reviews</span></li><li><span id="product_tag_list">Tags</span></li><li class="last"><span id="catalog.product.video">Video</span></li></ul><dl id="collateral-tabs" class="collateral-tabs">
                                            <dt class="tab current"><span id="description">Description</span></dt>
                            <dd class="tab-container current">
                                <div class="tab-content">    <h2>Details</h2>
    <div class="std">
        20 years ago our time was seen far more developed than it is actually now: remember the moment in ‘Back to the Future’ ’when Marty McFly came to the 2015? Flying boards, dehydrated pizza and clothing which adjusts to your size by itself. These things never turned out to happen (not yet, hopefully), but there’s one thing which probably could get Marty interested - electronic smoking.
Not many people know that several prototypes of electronic cigarette were invented before eCig rolled out. Actually, back in 1965 Herbert A. Gilbert invented a smokeless non-tobacco cigarette, but it was never successfully marketed.
    </div>
</div>
                            </dd>
                                            <dt class="tab"><span id="additional">Additional Information</span></dt>
                            <dd class="tab-container">
                                <div class="tab-content">    <h2>Additional Information</h2>
    <table class="data-table" id="product-attribute-specs-table">
        <colgroup><col width="25%">
        <col>
        </colgroup><tbody>
                    <tr class="first odd">
                <th class="label">Brand</th>
                <td class="data last">CF</td>
            </tr>
                    <tr class="even">
                <th class="label">Manufacturer</th>
                <td class="data last">USA</td>
            </tr>
                    <tr class="odd">
                <th class="label">Features </th>
                <td class="data last">Auto-protect function to prevent overcharging; Manual on/off feature for child safety; Good vapor volume</td>
            </tr>
                    <tr class="even">
                <th class="label">Battery capacity</th>
                <td class="data last">650 mAh </td>
            </tr>
                    <tr class="odd">
                <th class="label">Variable voltage</th>
                <td class="data last">6.0W-18.0W</td>
            </tr>
                    <tr class="even">
                <th class="label">Waterproof</th>
                <td class="data last">Yes</td>
            </tr>
                    <tr class="odd">
                <th class="label">Material</th>
                <td class="data last">plastic</td>
            </tr>
                    <tr class="even">
                <th class="label">Removable Drip Tip</th>
                <td class="data last">Yes</td>
            </tr>
                    <tr class="odd">
                <th class="label">LED tip</th>
                <td class="data last">No</td>
            </tr>
                    <tr class="even">
                <th class="label">Minimum Resistance</th>
                <td class="data last">0.6 ohm</td>
            </tr>
                    <tr class="odd">
                <th class="label">Ecolabel</th>
                <td class="data last">Yes</td>
            </tr>
                    <tr class="last even">
                <th class="label">Capacity</th>
                <td class="data last">1.5ml</td>
            </tr>
                </tbody>
    </table>
    <script type="text/javascript">decorateTable('product-attribute-specs-table')</script>
</div>
                            </dd>
                                            <dt class="tab"><span id="reviews">Reviews</span></dt>
                            <dd class="tab-container">
                                <div class="tab-content">
<div class="box-collateral box-reviews" id="customer-reviews">
            <div class="review-heading">
            <h2>
                Customer Reviews                <span>1 item(s)</span>
            </h2>
                    </div>
        <dl>
                    <dt>
                <a href="https://livedemo00.template-help.com/magento_57714/review/product/view/id/16/">
                    Good                </a>
            </dt>
            <dd>

                Excellent

                                <table class="ratings-table ratings">
                    <colgroup>
                        <col class="review-label">
                        <col class="review-value">
                    </colgroup>
                    <tbody>
                                                <tr>
                            <th>Quality</th>
                            <td>
                                <div class="rating-box stars">
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <div class="rating" style="width:80%;">
                                        <div class="mask">
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                <tr>
                            <th>Price</th>
                            <td>
                                <div class="rating-box stars">
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <div class="rating" style="width:80%;">
                                        <div class="mask">
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                                <tr>
                            <th>Value</th>
                            <td>
                                <div class="rating-box stars">
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <i class="review-icon"></i>
                                    <div class="rating" style="width:80%;">
                                        <div class="mask">
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                            <i class="review-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                                            </tbody>
                </table>


                <span class="review-meta">
                    Review by Anny                    /
                   (Posted on 10/31/2015)                </span>
            </dd>
                </dl>
        <a class="button review-button" href="https://livedemo00.template-help.com/magento_57714/review/product/list/id/1/#review-form"><span><span>Add Your Review</span></span></a>
                </div>
</div>
                            </dd>
                                            <dt class="tab"><span id="product_tag_list">Tags</span></dt>
                            <dd class="tab-container">
                                <div class="tab-content"><div class="box-collateral box-tags">
    <h2>Product Tags</h2>
            <form id="addTagForm" action="https://livedemo00.template-help.com/magento_57714/tag/index/save/product/1/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b181NzcxNC9jZi1hc3BpcmUtc3ViLW9obS1iYXR0ZXJ5Lmh0bWw,/" method="get">
        <div class="form-add">
            <label for="productTagName">Add Your Tags:</label>
            <div class="input-box">
                <input type="text" class="input-text required-entry" name="productTagName" id="productTagName">
            </div>
            <button type="button" title="Add Tags" class="button" onclick="submitTagForm()">
                <span>
                    <span>Add Tags</span>
                </span>
            </button>
        </div>
    </form>
    <p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>
    <script type="text/javascript">
    //<![CDATA[
        var addTagFormJs = new VarienForm('addTagForm');
        function submitTagForm(){
            if(addTagFormJs.validator.validate()) {
                addTagFormJs.form.submit();
            }
        }
    //]]>
    </script>
</div>
</div>
                            </dd>
                                            <dt class="tab last"><span id="catalog.product.video">Video</span></dt>
                            <dd class="tab-container last">
                                <div class="tab-content">

    <div class="video-box box-collateral">
        <h2>Video</h2>
        <div class="box-collateral-content">
            <div class="video">
                 <iframe src="https://www.youtube.com/embed/q0SDGLjRH2k?wmode=opaque" id="video-frame" allowfullscreen="" frameborder="0"></iframe>
           </div>
        </div>
      </div>
      <script type="text/javascript">
          jQuery('#video-frame').attr('frameborder','0');
      </script>

</div>
                            </dd>
                            </dl>
        </div>


<div id="block-related">

    <h2 class="odd">Related Products</h2>
    <p class="block-subtitle even">Check items to add to the cart or&nbsp;<a href="#" onclick="selectAllRelated(this); return false;">select all</a></p>
    <div class="swipe-carousel last odd">
        <div class="swiper-wrapper related-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3000px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 300px;"><div class="product">
                    <a href="https://livedemo00.template-help.com/magento_57714/smok-bec-bluetooth-smart-vaporizer.html" title="Smok BEC Bluetooth Smart Vaporizer" class="product-image"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/280x/9df78eab33525d08d6e5fb8d27136e95/s/m/smok-bec-pro-50w-bluetooth-smart-vaporizer_2_.png" alt="Smok BEC Bluetooth Smart Vaporizer"></a>
                    <div class="product-details">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-11-related">
                                            <span class="price">$21.00</span>                                    </span>

        </div>

                        <p class="product-name"><a href="https://livedemo00.template-help.com/magento_57714/smok-bec-bluetooth-smart-vaporizer.html">Smok BEC Bluetooth Smart Vaporizer</a></p>
                                                    <a href="https://livedemo00.template-help.com/magento_57714/wishlist/index/add/product/11/form_key/ggM7utfEzjAlVAvw/" class="link-wishlist">Add to Wishlist</a>
                                            </div>
                                                                                </div></div><div class="owl-item" style="width: 300px;"><div class="product">
                    <a href="https://livedemo00.template-help.com/magento_57714/vaporfi-boom-vapor-hookah-starter.html" title="VaporFi Boom Vapor Hookah Starter" class="product-image"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/280x/9df78eab33525d08d6e5fb8d27136e95/v/a/vaporfi-boom-vapor-hookah-starter-kit_05.png" alt="VaporFi Boom Vapor Hookah Starter"></a>
                    <div class="product-details">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-12-related">
                                            <span class="price">$12.00</span>                                    </span>

        </div>

                        <p class="product-name"><a href="https://livedemo00.template-help.com/magento_57714/vaporfi-boom-vapor-hookah-starter.html">VaporFi Boom Vapor Hookah Starter</a></p>
                                                    <a href="https://livedemo00.template-help.com/magento_57714/wishlist/index/add/product/12/form_key/ggM7utfEzjAlVAvw/" class="link-wishlist">Add to Wishlist</a>
                                            </div>
                                                                                </div></div><div class="owl-item" style="width: 300px;"><div class="product">
                    <a href="https://livedemo00.template-help.com/magento_57714/vaporfi-edge-starter-kit.html" title="VaporFi Edge Starter Kit" class="product-image"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/280x/9df78eab33525d08d6e5fb8d27136e95/v/a/vaporfi-edge-starter-kit_03.png" alt="VaporFi Edge Starter Kit"></a>
                    <div class="product-details">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-13-related">
                                            <span class="price">$34.00</span>                                    </span>

        </div>

                        <p class="product-name"><a href="https://livedemo00.template-help.com/magento_57714/vaporfi-edge-starter-kit.html">VaporFi Edge Starter Kit</a></p>
                                                    <a href="https://livedemo00.template-help.com/magento_57714/wishlist/index/add/product/13/form_key/ggM7utfEzjAlVAvw/" class="link-wishlist">Add to Wishlist</a>
                                            </div>
                                                                                </div></div><div class="owl-item" style="width: 300px;"><div class="product">
                    <a href="https://livedemo00.template-help.com/magento_57714/vaporfi-platinum-pro-ii-starter-kit.html" title="VaporFi Platinum Pro II Starter Kit" class="product-image"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/280x/9df78eab33525d08d6e5fb8d27136e95/v/a/vaporfi-platinum-pro-ii-starter-kit_01.png" alt="VaporFi Platinum Pro II Starter Kit"></a>
                    <div class="product-details">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-14-related">
                                            <span class="price">$22.00</span>                                    </span>

        </div>

                        <p class="product-name"><a href="https://livedemo00.template-help.com/magento_57714/vaporfi-platinum-pro-ii-starter-kit.html">VaporFi Platinum Pro II Starter Kit</a></p>
                                                    <a href="https://livedemo00.template-help.com/magento_57714/wishlist/index/add/product/14/form_key/ggM7utfEzjAlVAvw/" class="link-wishlist">Add to Wishlist</a>
                                            </div>
                                                                                </div></div><div class="owl-item" style="width: 300px;"><div class="product">
                    <a href="https://livedemo00.template-help.com/magento_57714/vapofi-express-starter-kit.html" title="VaporFi Express Starter Kit" class="product-image"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/280x/9df78eab33525d08d6e5fb8d27136e95/v/a/vaporfi-express-starter-kit_06.png" alt="VaporFi Express Starter Kit"></a>
                    <div class="product-details">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-15-related">
                                            <span class="price">$32.00</span>                                    </span>

        </div>

                        <p class="product-name"><a href="https://livedemo00.template-help.com/magento_57714/vapofi-express-starter-kit.html">VaporFi Express Starter Kit</a></p>
                                                    <a href="https://livedemo00.template-help.com/magento_57714/wishlist/index/add/product/15/form_key/ggM7utfEzjAlVAvw/" class="link-wishlist">Add to Wishlist</a>
                                            </div>
                                                                                </div></div></div></div>









                <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div></div>
        <script type="text/javascript">decorateList('block-related', 'none-recursive')</script>
        <script type="text/javascript">
        //<![CDATA[
        $$('.related-checkbox').each(function(elem){
            Event.observe(elem, 'click', addRelatedToProduct)
        });

        var relatedProductsCheckFlag = false;
        function selectAllRelated(txt){
            if (relatedProductsCheckFlag == false) {
                $$('.related-checkbox').each(function(elem){
                    elem.checked = true;
                });
                relatedProductsCheckFlag = true;
                txt.innerHTML="unselect all";
            } else {
                $$('.related-checkbox').each(function(elem){
                    elem.checked = false;
                });
                relatedProductsCheckFlag = false;
                txt.innerHTML="select all";
            }
            addRelatedToProduct();
        }

        function addRelatedToProduct(){
            var checkboxes = $$('.related-checkbox');
            var values = [];
            for(var i=0;i<checkboxes.length;i++){
                if(checkboxes[i].checked) values.push(checkboxes[i].value);
            }
            if($('related-products-field')){
                $('related-products-field').value = values.join(',');
            }
        }
        //]]>
        </script>

    </div>

</div>


<div id="upsell-product">
    <h2>You may also be interested in the following product(s)</h2>
    <div class="up-sell-carousel owl-carousel owl-theme" id="upsell-product-table" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3000px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 300px;"><div class="product">
            <a href="https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html" title="On The Go Starter Kit Menthol " class="product-image">
                <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/280x/9df78eab33525d08d6e5fb8d27136e95/o/n/on-the-go-starter-kit-menthol-_high__06.png" alt="On The Go Starter Kit Menthol ">
            </a>
            <div class="product-details">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-6-upsell">
                                            <span class="price">$18.00</span>                                    </span>

        </div>

                <h3 class="product-name"><a href="https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html" title="On The Go Starter Kit Menthol ">On The Go Starter Kit Menthol </a></h3>
                    <div class="ratings">
                    <div class="rating-box stars">
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <div class="rating" style="width:73%">
                    <div class="mask">
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                    </div>
                </div>
            </div>
            <span class="separator temp">|</span>
                <p class="rating-links">
            <a href="https://livedemo00.template-help.com/magento_57714/on-the-go-starter-kit-menthol.html#customer-reviews" class="moveToTab" onclick="">1 Review(s)</a>
            <span class="separator">|</span>
            <a href="https://livedemo00.template-help.com/magento_57714/review/product/list/id/6/category/7/#review-form">Add Your Review</a>
        </p>
    </div>


<script type="text/javascript">

    jQuery(document).ready(function(){

        jQuery('a.moveToTab').click(function(e){
            moveToTab();
        })
    });

    function moveToTab(){
        jQuery('dt, dd', '#collateral-tabs').each(function(){
            jQuery(this).removeClass('current');
        });
        jQuery('.product-collateral .toggle-tabs li').each(function(){
            jQuery(this).removeClass('current');
            jQuery('#reviews', this).parents('li').click();
        })
        jQuery('html, body').animate({
            scrollTop: jQuery('.product-collateral').offset().top - 80}, 'fast'
        );
    }
</script>            </div>
        </div></div><div class="owl-item" style="width: 300px;"><div class="product">
            <a href="https://livedemo00.template-help.com/magento_57714/phoenix-electronic-cigarette-atomizer.html" title="Phoenix Electronic Cigarette Atomizer" class="product-image">
                <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/280x/9df78eab33525d08d6e5fb8d27136e95/p/h/phoenix-electronic-cigarette-atomizer_1_2_.png" alt="Phoenix Electronic Cigarette Atomizer">
            </a>
            <div class="product-details">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-7-upsell">
                                            <span class="price">$8.00</span>                                    </span>

        </div>

                <h3 class="product-name"><a href="https://livedemo00.template-help.com/magento_57714/phoenix-electronic-cigarette-atomizer.html" title="Phoenix Electronic Cigarette Atomizer">Phoenix Electronic Cigarette Atomizer</a></h3>
                    <div class="ratings">
                    <div class="rating-box stars">
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <div class="rating" style="width:27%">
                    <div class="mask">
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                    </div>
                </div>
            </div>
            <span class="separator temp">|</span>
                <p class="rating-links">
            <a href="https://livedemo00.template-help.com/magento_57714/phoenix-electronic-cigarette-atomizer.html#customer-reviews" class="moveToTab" onclick="">1 Review(s)</a>
            <span class="separator">|</span>
            <a href="https://livedemo00.template-help.com/magento_57714/review/product/list/id/7/category/7/#review-form">Add Your Review</a>
        </p>
    </div>


<script type="text/javascript">

    jQuery(document).ready(function(){

        jQuery('a.moveToTab').click(function(e){
            moveToTab();
        })
    });

    function moveToTab(){
        jQuery('dt, dd', '#collateral-tabs').each(function(){
            jQuery(this).removeClass('current');
        });
        jQuery('.product-collateral .toggle-tabs li').each(function(){
            jQuery(this).removeClass('current');
            jQuery('#reviews', this).parents('li').click();
        })
        jQuery('html, body').animate({
            scrollTop: jQuery('.product-collateral').offset().top - 80}, 'fast'
        );
    }
</script>            </div>
        </div></div><div class="owl-item" style="width: 300px;"><div class="product">
            <a href="https://livedemo00.template-help.com/magento_57714/vaporfi-orbit-dry-herb-vaporizer-kit.html" title="VaporFi Orbit Dry Herb Vaporizer Kit" class="product-image">
                <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/280x/9df78eab33525d08d6e5fb8d27136e95/v/a/vaporfi-orbit-dry-herb-vaporizer-kit_03.png" alt="VaporFi Orbit Dry Herb Vaporizer Kit">
            </a>
            <div class="product-details">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-8-upsell">
                                            <span class="price">$26.00</span>                                    </span>

        </div>

                <h3 class="product-name"><a href="https://livedemo00.template-help.com/magento_57714/vaporfi-orbit-dry-herb-vaporizer-kit.html" title="VaporFi Orbit Dry Herb Vaporizer Kit">VaporFi Orbit Dry Herb Vaporizer Kit</a></h3>
                    <div class="ratings">
                    <div class="rating-box stars">
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <div class="rating" style="width:60%">
                    <div class="mask">
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                    </div>
                </div>
            </div>
            <span class="separator temp">|</span>
                <p class="rating-links">
            <a href="https://livedemo00.template-help.com/magento_57714/vaporfi-orbit-dry-herb-vaporizer-kit.html#customer-reviews" class="moveToTab" onclick="">1 Review(s)</a>
            <span class="separator">|</span>
            <a href="https://livedemo00.template-help.com/magento_57714/review/product/list/id/8/category/7/#review-form">Add Your Review</a>
        </p>
    </div>


<script type="text/javascript">

    jQuery(document).ready(function(){

        jQuery('a.moveToTab').click(function(e){
            moveToTab();
        })
    });

    function moveToTab(){
        jQuery('dt, dd', '#collateral-tabs').each(function(){
            jQuery(this).removeClass('current');
        });
        jQuery('.product-collateral .toggle-tabs li').each(function(){
            jQuery(this).removeClass('current');
            jQuery('#reviews', this).parents('li').click();
        })
        jQuery('html, body').animate({
            scrollTop: jQuery('.product-collateral').offset().top - 80}, 'fast'
        );
    }
</script>            </div>
        </div></div><div class="owl-item" style="width: 300px;"><div class="product">
            <a href="https://livedemo00.template-help.com/magento_57714/ce-2-in-1-usb-rechargeable-1100mah.html" title="CE 2 in 1 USB Rechargeable 1100mAh" class="product-image">
                <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/280x/9df78eab33525d08d6e5fb8d27136e95/c/e/ce4-2-in-1-usb-rechargeable-1100mah-electronic-cigarette-purple_06.png" alt="CE 2 in 1 USB Rechargeable 1100mAh">
            </a>
            <div class="product-details">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-9-upsell">
                                            <span class="price">$27.00</span>                                    </span>

        </div>

                <h3 class="product-name"><a href="https://livedemo00.template-help.com/magento_57714/ce-2-in-1-usb-rechargeable-1100mah.html" title="CE 2 in 1 USB Rechargeable 1100mAh">CE 2 in 1 USB Rechargeable 1100mAh</a></h3>
                    <div class="ratings">
                    <div class="rating-box stars">
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <div class="rating" style="width:20%">
                    <div class="mask">
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                    </div>
                </div>
            </div>
            <span class="separator temp">|</span>
                <p class="rating-links">
            <a href="https://livedemo00.template-help.com/magento_57714/ce-2-in-1-usb-rechargeable-1100mah.html#customer-reviews" class="moveToTab" onclick="">1 Review(s)</a>
            <span class="separator">|</span>
            <a href="https://livedemo00.template-help.com/magento_57714/review/product/list/id/9/category/7/#review-form">Add Your Review</a>
        </p>
    </div>


<script type="text/javascript">

    jQuery(document).ready(function(){

        jQuery('a.moveToTab').click(function(e){
            moveToTab();
        })
    });

    function moveToTab(){
        jQuery('dt, dd', '#collateral-tabs').each(function(){
            jQuery(this).removeClass('current');
        });
        jQuery('.product-collateral .toggle-tabs li').each(function(){
            jQuery(this).removeClass('current');
            jQuery('#reviews', this).parents('li').click();
        })
        jQuery('html, body').animate({
            scrollTop: jQuery('.product-collateral').offset().top - 80}, 'fast'
        );
    }
</script>            </div>
        </div></div><div class="owl-item" style="width: 300px;"><div class="product">
            <a href="https://livedemo00.template-help.com/magento_57714/evod-x9-vaporizek-pen-vape-portable.html" title="EVOD X9 Vaporizeк Pen Vape Portable" class="product-image">
                <img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/280x/9df78eab33525d08d6e5fb8d27136e95/e/v/evod-x9-vaporizer-pen-vape-portable_2_.png" alt="EVOD X9 Vaporizeк Pen Vape Portable">
            </a>
            <div class="product-details">



    <div class="price-box">
                                                                <span class="regular-price" id="product-price-10-upsell">
                                            <span class="price">$32.00</span>                                    </span>

        </div>

                <h3 class="product-name"><a href="https://livedemo00.template-help.com/magento_57714/evod-x9-vaporizek-pen-vape-portable.html" title="EVOD X9 Vaporizeк Pen Vape Portable">EVOD X9 Vaporizeк Pen Vape Portable</a></h3>
                    <div class="ratings">
                    <div class="rating-box stars">
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <div class="rating" style="width:40%">
                    <div class="mask">
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                        <i class="review-icon"></i>
                    </div>
                </div>
            </div>
            <span class="separator temp">|</span>
                <p class="rating-links">
            <a href="https://livedemo00.template-help.com/magento_57714/evod-x9-vaporizek-pen-vape-portable.html#customer-reviews" class="moveToTab" onclick="">2 Review(s)</a>
            <span class="separator">|</span>
            <a href="https://livedemo00.template-help.com/magento_57714/review/product/list/id/10/category/7/#review-form">Add Your Review</a>
        </p>
    </div>


<script type="text/javascript">

    jQuery(document).ready(function(){

        jQuery('a.moveToTab').click(function(e){
            moveToTab();
        })
    });

    function moveToTab(){
        jQuery('dt, dd', '#collateral-tabs').each(function(){
            jQuery(this).removeClass('current');
        });
        jQuery('.product-collateral .toggle-tabs li').each(function(){
            jQuery(this).removeClass('current');
            jQuery('#reviews', this).parents('li').click();
        })
        jQuery('html, body').animate({
            scrollTop: jQuery('.product-collateral').offset().top - 80}, 'fast'
        );
    }
</script>            </div>
        </div></div></div></div>




                    <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div></div>

    </div>

</div>

<script type="text/javascript">
    var lifetime = 3600;
    var expireAt = Mage.Cookies.expires;
    if (lifetime > 0) {
        expireAt = new Date();
        expireAt.setTime(expireAt.getTime() + lifetime * 1000);
    }
    Mage.Cookies.set('external_no_cache', 1, expireAt);
</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
