.current-single:after {
  content: "" !important;
}

.category-title {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 40px;
  border-bottom: solid 2px #dfdfdf;
}

.category-title h2 {
  font-size: 23px !important;
}

.filter-content {
  background: #d2d6de !important;
  padding: 15px 2px;
}

.slider {
  display: inline-block !important;
}

.slider-bar {
  margin-right: -5%;
}
@media all and (min-width: 500px) {
  .price-box {
    align-items: center;
    justify-content: center;
    margin: 0;
    /* background: yellow; */
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}


