.current-single:after {
  content: "" !important;
}

.category-title {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 40px;
  border-bottom: solid 2px #dfdfdf;
}

.category-title h2 {
  font-size: 23px !important;
}

.filter-content {
  background: #d2d6de !important;
  padding: 15px 2px;
}

.slider {
  display: inline-block !important;
}

.slider-bar {
  margin-right: -5%;
}
@media all and (min-width: 500px) {
  .price-box-item {
    align-items: center;
    justify-content: center;
    margin: 0;
    /* background: yellow; */
    position: absolute;
    top: 120%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.sys-foot-home > li > h6, .sys-foot-home > li > p {
  display: inline-block;
}

.sys-foot-home > li > h6 {
  color: #fff;
  margin-right: 5px;
}

@media all and (min-width: 1401px) {
  .cms-home .nav {
    padding-left: 50% !important ;
  }
}

@media all {
  .nav {
    padding-left: 24% !important ;
  }
}

a.sub_main_menu:hover {
  color: #fff !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-switchers .header-button.full_mode .header-button-title .current {
    font-size: 15px;
  }
  .nav {
    padding-left: 18% !important;
  }
}

@media (min-width: 501px) and (max-width: 767px) {
  .header-switchers .header-button.full_mode .header-button-title .current {
    font-size: 13px;
  }
  .nav {
    padding-left: 13% !important;
  }
}

@media all and (max-width: 500px) {
  .sys-foot-home > li > h6 {
    color: #333;
  }
}
