<li class="item first col-xs-12 col-sm-4" itemscope="" itemtype="https://schema.org/product">
  <div class="wrapper-hover">
    <div class="product-image-container">
      <a href="#" title="CF Aspire Sub Ohm Battery" class="product-image" itemprop="url">
        <img id="product-collection-image-1" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/210x210/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_04.png" alt="CF Aspire Sub Ohm Battery" width="210" height="210" itemprop="image">
      </a>
    </div>
    <div class="product-details">
      <h2 class="product-name" itemprop="name">
        <a href="#" title="CF Aspire Sub Ohm Battery">CF Aspire Sub Ohm Battery</a>
      </h2>
      <div class="price-box">
        <span class="regular-price" id="product-price-1">
          <span class="price">€14.84</span>
        </span>
      </div>
      <div class="wrapper-hover-hiden">
        <div class="ratings">
          <div class="rating-box stars">
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <div class="rating" style="width:80%">
              <div class="mask">
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
              </div>
            </div>
          </div>
          <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='https://livedemo00.template-help.com/magento_57714/review/product/list/id/1/category/7/'; return false;">1 Review(s)</a></span>
        </div>
        <div class="actions">
          <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/cf-aspire-sub-ohm-battery.html')">
            <span>
              <span>Add to Cart</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</li>
<li class="item first col-xs-12 col-sm-4" itemscope="" itemtype="https://schema.org/product">
  <div class="wrapper-hover">
    <div class="product-image-container">
      <a href="#" title="CF Aspire Sub Ohm Battery" class="product-image" itemprop="url">
        <img id="product-collection-image-1" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/210x210/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_04.png" alt="CF Aspire Sub Ohm Battery" width="210" height="210" itemprop="image">
      </a>
    </div>
    <div class="product-details">
      <h2 class="product-name" itemprop="name">
        <a href="#" title="CF Aspire Sub Ohm Battery">CF Aspire Sub Ohm Battery</a>
      </h2>
      <div class="price-box">
        <span class="regular-price" id="product-price-1">
          <span class="price">€14.84</span>
        </span>
      </div>
      <div class="wrapper-hover-hiden">
        <div class="ratings">
          <div class="rating-box stars">
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <div class="rating" style="width:80%">
              <div class="mask">
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
              </div>
            </div>
          </div>
          <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='https://livedemo00.template-help.com/magento_57714/review/product/list/id/1/category/7/'; return false;">1 Review(s)</a></span>
        </div>
        <div class="actions">
          <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/cf-aspire-sub-ohm-battery.html')">
            <span>
              <span>Add to Cart</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</li>
<li class="item first col-xs-12 col-sm-4" itemscope="" itemtype="https://schema.org/product">
  <div class="wrapper-hover">
    <div class="product-image-container">
      <a href="#" title="CF Aspire Sub Ohm Battery" class="product-image" itemprop="url">
        <img id="product-collection-image-1" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/210x210/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_04.png" alt="CF Aspire Sub Ohm Battery" width="210" height="210" itemprop="image">
      </a>
    </div>
    <div class="product-details">
      <h2 class="product-name" itemprop="name">
        <a href="#" title="CF Aspire Sub Ohm Battery">CF Aspire Sub Ohm Battery</a>
      </h2>
      <div class="price-box">
        <span class="regular-price" id="product-price-1">
          <span class="price">€14.84</span>
        </span>
      </div>
      <div class="wrapper-hover-hiden">
        <div class="ratings">
          <div class="rating-box stars">
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <div class="rating" style="width:80%">
              <div class="mask">
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
              </div>
            </div>
          </div>
          <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='https://livedemo00.template-help.com/magento_57714/review/product/list/id/1/category/7/'; return false;">1 Review(s)</a></span>
        </div>
        <div class="actions">
          <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/cf-aspire-sub-ohm-battery.html')">
            <span>
              <span>Add to Cart</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</li>
<li class="item first col-xs-12 col-sm-4" itemscope="" itemtype="https://schema.org/product">
  <div class="wrapper-hover">
    <div class="product-image-container">
      <a href="#" title="CF Aspire Sub Ohm Battery" class="product-image" itemprop="url">
        <img id="product-collection-image-1" src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/small_image/210x210/9df78eab33525d08d6e5fb8d27136e95/c/f/cf-aspire-sub-ohm-battery_04.png" alt="CF Aspire Sub Ohm Battery" width="210" height="210" itemprop="image">
      </a>
    </div>
    <div class="product-details">
      <h2 class="product-name" itemprop="name">
        <a href="#" title="CF Aspire Sub Ohm Battery">CF Aspire Sub Ohm Battery</a>
      </h2>
      <div class="price-box">
        <span class="regular-price" id="product-price-1">
          <span class="price">€14.84</span>
        </span>
      </div>
      <div class="wrapper-hover-hiden">
        <div class="ratings">
          <div class="rating-box stars">
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <i class="review-icon"></i>
            <div class="rating" style="width:80%">
              <div class="mask">
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
                <i class="review-icon"></i>
              </div>
            </div>
          </div>
          <span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='https://livedemo00.template-help.com/magento_57714/review/product/list/id/1/category/7/'; return false;">1 Review(s)</a></span>
        </div>
        <div class="actions">
          <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation('https://livedemo00.template-help.com/magento_57714/cf-aspire-sub-ohm-battery.html')">
            <span>
              <span>Add to Cart</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</li>
