<li class="item odd">
  <a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html">
    <span class="product-image"><img src="https://livedemo00.template-help.com/magento_57714/media/catalog/product/cache/1/thumbnail/90x90/9df78eab33525d08d6e5fb8d27136e95/d/r/dragon-knight-mechanical-electronic_6_.png" alt=""></span>
  </a>
  <div class="product-details">
    <p class="product-name">
      <a href="https://livedemo00.template-help.com/magento_57714/dragon-knight-mechanical-electronic.html">
      Dragon Knight Mechanical Electronic                         </a>
    </p>
  </div>
</li>
