<div class="main-container col2-left-layout">
  <%= render "bread_crumbs", category: @category %>
  <div class="container">
    <div class="main">
      <div class="row">
        <div class="col-main col-xs-12 col-sm-9">
          <div class="page-title category-title ">
            <h2 class="widget-title">Danh sách sản phẩm</h2>
          </div>
          <div class="category-products">
            <ul class="products-grid row first odd">
              <%= render "item" %>
            </ul>
          </div>
        </div>
        <div class="col-left sidebar col-xs-12 col-sm-3" style="margin-top: 28px">
          <div class="col-left-first">
            <div class="block block-layered-nav block-layered-nav--no-filters">
              <div class="block-title">
                <strong><span>Bộ lọc</span></strong>
              </div>
              <div class="block-content toggle-content">
              <!--   <div class="selected-filter">
                </div> -->
                <p class="block-subtitle block-subtitle--filter">Filter</p>
                <div class="slider slider-horizontal" id="red"><div class="slider-track"><div class="slider-track-low" style="left: 0px; width: 25%;"></div><div class="slider-selection" style="left: 25%; width: 50%;"></div><div class="slider-track-high" style="right: 0px; width: 25%;"></div><div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="-200" aria-valuemax="200" aria-valuenow="-100" tabindex="0" style="left: 25%;"></div><div class="slider-handle max-slider-handle round" role="slider" aria-valuemin="-200" aria-valuemax="200" aria-valuenow="100" tabindex="0" style="left: 75%;"></div></div><div class="tooltip tooltip-main top" role="presentation" style="left: 50%; margin-left: -35px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">-100 : 100</div></div><div class="tooltip tooltip-min top" role="presentation" style="left: 25%; margin-left: -20px; display: none;"><div class="tooltip-arrow"></div><div class="tooltip-inner">-100</div></div><div class="tooltip tooltip-max top" role="presentation" style="left: 75%; margin-left: -18px; display: none;"><div class="tooltip-arrow"></div><div class="tooltip-inner">100</div></div></div>
                <input type="text" value="-100,100" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red" data-value="-100,100" style="display: none;">
              </div>
            </div>
          </div>
          <div class="main-col-left">
            <div class="block block-cart">
              <div class="block-title">
                <strong><span>My Cart</span></strong>
              </div>
              <div class="block-content">
                <p class="empty">You have no items in your shopping cart.</p>
              </div>
            </div>
            <div class="block block-list block-viewed">
              <div class="block-title">
                <strong><span>Sản phẩm bán chạy</span></strong>
              </div>
              <div class="block-content">
                <ol id="recently-viewed-items" class="mini-products-list">
                  <%= render "top_sell" %>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
