<div class="main-container col2-left-layout">
  <%= render "bread_crumbs", category: @category %>
  <div class="container">
    <div class="main">
      <div class="row">
        <div class="col-main col-xs-12 col-sm-9">
          <div class="page-title category-title ">
            <h2 class="widget-title">Danh sách sản phẩm</h2>
          </div>
          <div class="category-products">
            <ul class="products-grid row first odd">
              <%= render "item" %>
            </ul>
          </div>
        </div>
        <div class="col-left sidebar col-xs-12 col-sm-3" style="margin-top: 28px">
          <div class="col-left-first">
            <div class="block block-layered-nav block-layered-nav--no-filters">
              <div class="block-title">
                <strong><span>Bộ lọc</span></strong>
              </div>
              <div class="block-content toggle-content box box-shadow filter-content">
                <%= render "filter_bar" %>
              </div>
            </div>
          </div>
          <div class="main-col-left">
            <div class="block block-list block-viewed">
              <div class="block-title">
                <strong><span>Sản phẩm bán chạy</span></strong>
              </div>
              <div class="block-content">
                <ol id="recently-viewed-items" class="mini-products-list">
                  <%= render "top_sell" %>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
