<!DOCTYPE html>
<html>
  <head>
    <%= render "partials/head" %>
  </head>
  <body class="cms-index-index front <%= current_page?(root_url) ? 'cms-home' : '' %>">
    <%= yield %>
    <%= render "partials/footer" %>
  </body>
</html>
