<!DOCTYPE html>
<html>
  <head>
    <%= render "partials/head" %>
  </head>
  <body class="cms-index-index cms-home">
    <div class="wrapper">
      <%= yield %>
      <%= render "partials/footer" %>
    </div>
  </body>
</html>
